// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --dark-color: #365b2573;
  --text-color: #b5b5b5;

  /** primary = multum **/
  /* --ion-color-primary: #88C142;
  --ion-color-primary-rgb: 16, 220, 96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #88C142;
  --ion-color-primary-tint: rgba(66, 193, 66, 0.918); */

  --ion-color-primary: #31A833;
  --ion-color-primary-rgb: 49,168,51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2b942d;
  --ion-color-primary-tint: #46b147;

  /** secondary **/
  --ion-color-secondary: #3880ff;
  --ion-color-secondary-rgb: 56,128,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3171e0;
  --ion-color-secondary-tint: #4c8dff;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

   /** multum **/
   --ion-color-multum: #88C142;
   --ion-color-multum-rgb: 16, 220, 96;
   --ion-color-multum-contrast: #ffffff;
   --ion-color-multum-contrast-rgb: 255, 255, 255;
   --ion-color-multum-shade: #88C142;
   --ion-color-multum-tint: rgba(66, 193, 66, 0.918);
  

  /********** Colores de cinta   *************/

  /*cinta Amarillo **/
  --ion-color-cAmarillo: #ffff00;
  --ion-color-cAmarillo-rgb: 255,255,0;
  --ion-color-cAmarillo-contrast: #000000;
  --ion-color-cAmarillo-contrast-rgb: 0,0,0;
  --ion-color-cAmarillo-shade: #e0e000;
  --ion-color-cAmarillo-tint: #ffff1a;

  /*Cinta Morado */
  --ion-color-cMorado: #8000ff;
  --ion-color-cMorado-rgb: 128,0,255;
  --ion-color-cMorado-contrast: #ffffff;
  --ion-color-cMorado-contrast-rgb: 255,255,255;
  --ion-color-cMorado-shade: #7100e0;
  --ion-color-cMorado-tint: #8d1aff;

  /*Cinta rojo */
  --ion-color-cRojo: #ff0000;
  --ion-color-cRojo-rgb: 255,0,0;
  --ion-color-cRojo-contrast: #ffffff;
  --ion-color-cRojo-contrast-rgb: 255,255,255;
  --ion-color-cRojo-shade: #e00000;
  --ion-color-cRojo-tint: #ff1a1a;

  /*Cinta Marron */
  --ion-color-cMarron: #6c3600;
  --ion-color-cMarron-rgb: 108,54,0;
  --ion-color-cMarron-contrast: #ffffff;
  --ion-color-cMarron-contrast-rgb: 255,255,255;
  --ion-color-cMarron-shade: #5f3000;
  --ion-color-cMarron-tint: #7b4a1a;
  
  /*cinta cNegro */
  --ion-color-cNegro: #222428;
  --ion-color-cNegro-rgb: 34,34,34;
  --ion-color-cNegro-contrast: #ffffff;
  --ion-color-cNegro-contrast-rgb: 255,255,255;
  --ion-color-cNegro-shade: #1e2023;
  --ion-color-cNegro-tint: #383a3e;

  /*Cinta Verde */
  --ion-color-cVerde: #056903;
  --ion-color-cVerde-rgb: 5,105,3;
  --ion-color-cVerde-contrast: #ffffff;
  --ion-color-cVerde-contrast-rgb: 255,255,255;
  --ion-color-cVerde-shade: #045c03;
  --ion-color-cVerde-tint: #1e781c;

  /*Cinta Crema */
  --ion-color-cCrema: #ffa579;
  --ion-color-cCrema-rgb: 255,165,121;
  --ion-color-cCrema-contrast: #000000;
  --ion-color-cCrema-contrast-rgb: 0,0,0;
  --ion-color-cCrema-shade: #e0916a;
  --ion-color-cCrema-tint: #ffae86;
  
  /* Nuevos */
  --ion-color-mgreen: #47F54A;
  --ion-color-mgreen-rgb: 71,245,74;
  --ion-color-mgreen-contrast: #000000;
  --ion-color-mgreen-contrast-rgb: 0,0,0;
  --ion-color-mgreen-shade: #3ed841;
  --ion-color-mgreen-tint: #59f65c;
  
  --ion-color-mgreens: #47C24A;
  --ion-color-mgreens-rgb: 71,194,74;
  --ion-color-mgreens-contrast: #000000;
  --ion-color-mgreens-contrast-rgb: 0,0,0;
  --ion-color-mgreens-shade: #3eab41;
  --ion-color-mgreens-tint: #59c85c;

  --ion-color-mgreent: #31A833;
  --ion-color-mgreent-rgb: 49,168,51;
  --ion-color-mgreent-contrast: #ffffff;
  --ion-color-mgreent-contrast-rgb: 255,255,255;
  --ion-color-mgreent-shade: #2b942d;
  --ion-color-mgreent-tint: #46b147;

  --ion-color-mgreenc: #90F592;
  --ion-color-mgreenc-rgb: 144,245,146;
  --ion-color-mgreenc-contrast: #000000;
  --ion-color-mgreenc-contrast-rgb: 0,0,0;
  --ion-color-mgreenc-shade: #7fd880;
  --ion-color-mgreenc-tint: #9bf69d;

  --ion-color-mgreenf: #227523;
  --ion-color-mgreenf-rgb: 34,117,35;
  --ion-color-mgreenf-contrast: #ffffff;
  --ion-color-mgreenf-contrast-rgb: 255,255,255;
  --ion-color-mgreenf-shade: #1e671f;
  --ion-color-mgreenf-tint: #388339;
  
  --ion-color-blanco: #ffffff;
  --ion-color-blanco-rgb: 255,255,255;
  --ion-color-blanco-contrast: #000000;
  --ion-color-blanco-contrast-rgb: 0,0,0;
  --ion-color-blanco-shade: #e0e0e0;
  --ion-color-blanco-tint: #ffffff;
  
  //Nuevos
  --ion-color-blancoperla: #EAE6CA;
  --ion-color-blancoperla-rgb: 234,230,202;
  --ion-color-blancoperla-contrast: #000000;
  --ion-color-blancoperla-contrast-rgb: 0,0,0;
  --ion-color-blancoperla-shade: #cecab2;
  --ion-color-blancoperla-tint: #ece9cf;

  --ion-color-verdeheader: #31A833;
  --ion-color-verdeheader-rgb: 49,168,51;
  --ion-color-verdeheader-contrast: #ffffff;
  --ion-color-verdeheader-contrast-rgb: 255,255,255;
  --ion-color-verdeheader-shade: #2b942d;
  --ion-color-verdeheader-tint: #46b147;


}


.ion-color-cAmarillo {
  --ion-color-base: var(--ion-color-cAmarillo) !important;
  --ion-color-base-rgb: var(--ion-color-cAmarillo-rgb) !important;
  --ion-color-contrast: var(--ion-color-cAmarillo-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-cAmarillo-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cAmarillo-shade) !important;
  --ion-color-tint: var(--ion-color-cAmarillo-tint) !important;

}
.ion-color-cMorado {
    --ion-color-base: var(--ion-color-cMorado) !important;
    --ion-color-base-rgb: var(--ion-color-cMorado-rgb) !important;
    --ion-color-contrast: var(--ion-color-cMorado-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-cMorado-gold-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-cMorado-shade) !important;
    --ion-color-tint: var(--ion-color-cMorado-tint) !important;
}
  .ion-color-cRojo {
  --ion-color-base: var(--ion-color-cRojo) !important;
  --ion-color-base-rgb: var(--ion-color-cRojo-rgb) !important;
  --ion-color-contrast: var(--ion-color-cRojo-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-cRojo-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cRojo-shade) !important;
  --ion-color-tint: var(--ion-color-cRojo-tint) !important;
  }
  .ion-color-cMarron {
  --ion-color-base: var(--ion-color-cMarron) !important;
  --ion-color-base-rgb: var(--ion-color-cMarron-rgb) !important;
  --ion-color-contrast: var(--ion-color-cMarron-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-cMarron-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cMarron-shade) !important;
  --ion-color-tint: var(--ion-color-cMarron-tint) !important;
  }
  .ion-color-cNegro {
  --ion-color-base: var(--ion-color-cNegro) !important;
  --ion-color-base-rgb: var(--ion-color-cNegro-rgb) !important;
  --ion-color-contrast: var(--ion-color-cNegro-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-cNegro-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cNegro-shade) !important;
  --ion-color-tint: var(--ion-color-cNegro-tint) !important;
  } 
  .ion-color-cVerde {
  --ion-color-base: var(--ion-color-cVerde) !important;
  --ion-color-base-rgb: var(--ion-color-cVerde-rgb) !important;
  --ion-color-contrast: var(--ion-color-cVerde-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-cVerde-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cVerde-shade) !important;
  --ion-color-tint: var(--ion-color-cVerde-tint) !important;
  }
  .ion-color-cCrema {
  --ion-color-base: var(--ion-color-cCrema) !important;
  --ion-color-base-rgb: var(--ion-color-cCrema-rgb) !important;
  --ion-color-contrast: var(--ion-color-cCrema-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-cCrema-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cCrema-shade) !important;
  --ion-color-tint: var(--ion-color-cCrema-tint) !important;
  }
  /* Nuevos */
  .ion-color-mgreen {
    --ion-color-base: var(--ion-color-mgreen);
    --ion-color-base-rgb: var(--ion-color-mgreen-rgb);
    --ion-color-contrast: var(--ion-color-mgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-mgreen-shade);
    --ion-color-tint: var(--ion-color-mgreen-tint);
  }
  .ion-color-mgreens {
    --ion-color-base: var(--ion-color-mgreens);
    --ion-color-base-rgb: var(--ion-color-mgreens-rgb);
    --ion-color-contrast: var(--ion-color-mgreens-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mgreens-contrast-rgb);
    --ion-color-shade: var(--ion-color-mgreens-shade);
    --ion-color-tint: var(--ion-color-mgreens-tint);
  }
  .ion-color-mgreent {
    --ion-color-base: var(--ion-color-mgreent);
    --ion-color-base-rgb: var(--ion-color-mgreent-rgb);
    --ion-color-contrast: var(--ion-color-mgreent-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mgreent-contrast-rgb);
    --ion-color-shade: var(--ion-color-mgreent-shade);
    --ion-color-tint: var(--ion-color-mgreent-tint);
  }
.ion-color-mgreenc {
  --ion-color-base: var(--ion-color-mgreenc);
  --ion-color-base-rgb: var(--ion-color-mgreenc-rgb);
  --ion-color-contrast: var(--ion-color-mgreenc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mgreenc-contrast-rgb);
  --ion-color-shade: var(--ion-color-mgreenc-shade);
  --ion-color-tint: var(--ion-color-mgreenc-tint);
}

.ion-color-mgreenf {
  --ion-color-base: var(--ion-color-mgreenf);
  --ion-color-base-rgb: var(--ion-color-mgreenf-rgb);
  --ion-color-contrast: var(--ion-color-mgreenf-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mgreenf-contrast-rgb);
  --ion-color-shade: var(--ion-color-mgreenf-shade);
  --ion-color-tint: var(--ion-color-mgreenf-tint);
}

.ion-color-blanco {
  --ion-color-base: var(--ion-color-blanco);
  --ion-color-base-rgb: var(--ion-color-blanco-rgb);
  --ion-color-contrast: var(--ion-color-blanco-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blanco-contrast-rgb);
  --ion-color-shade: var(--ion-color-blanco-shade);
  --ion-color-tint: var(--ion-color-blanco-tint);
}

//Nuevos
.ion-color-blancoperla {
  --ion-color-base: var(--ion-color-blancoperla);
  --ion-color-base-rgb: var(--ion-color-blancoperla-rgb);
  --ion-color-contrast: var(--ion-color-blancoperla-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blancoperla-contrast-rgb);
  --ion-color-shade: var(--ion-color-blancoperla-shade);
  --ion-color-tint: var(--ion-color-blancoperla-tint);
}

.ion-color-verdeheader {
  --ion-color-base: var(--ion-color-verdeheader);
  --ion-color-base-rgb: var(--ion-color-verdeheader-rgb);
  --ion-color-contrast: var(--ion-color-verdeheader-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verdeheader-contrast-rgb);
  --ion-color-shade: var(--ion-color-verdeheader-shade);
  --ion-color-tint: var(--ion-color-verdeheader-tint);
}

.cuerpo{
  //--background: linear-gradient(270deg, rgb(201, 245, 202) 0%,  #f0f0f0 100%) !important;
  --background:linear-gradient(360deg, rgb(201, 245, 202) 20%, #f0f0f0 50%) !important
}

/* .custom-modal-finca .modal-wrapper {
  
  // add modal styling here
  --background:rgb(201, 245, 202);
  --width:80%;
  --height:40%;
  --border-radius:5%;
} */

