<!-- <app-header titulo='Calibraje'>

</app-header> -->

<ion-content class="ion-padding bg-general-class" *ngIf="!lista">
  <div class="ion-text-titulo">
    <h1>{{titulo}}</h1>
  </div>

  <form [formGroup]="calibrajeForm" (ngSubmit)="onSubmit()"> <!-- style="padding-bottom: 5%;padding-top: 5%;" -->
    <ion-list class="oi-list-form"> <!-- style="padding-top: 10%;padding-bottom: 5%;"-->
      <ion-item>
        <ion-label position="floating">Finca</ion-label>
        <ion-select formControlName="finca" interface="action-sheet" mode='ios' cancelText='Cancelar'>
          <ion-select-option *ngFor="let finca of listFincas" [value]='finca.id'>{{finca.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime formControlName="fecha" type="text" displayFormat="DD-MM-YYYY" 
          cancelText='Cancelar' doneText="Listo" required (ionChange)="buscarEnfunde()"></ion-datetime> <!-- [min]="minDate" [max]="maxDate" -->
      </ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-item >
              <ion-label position="floating">Año</ion-label>
              <ion-datetime displayFormat="YYYY" min="1930" max="2005" formControlName="ano" class="oi-pb-1"
                cancelText='Cancelar' doneText="Listo" disabled></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item >
              <ion-label position="floating">Semana</ion-label>
              <ion-input type="text" name="semana" formControlName="semana" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" class="ion-no-padding">
            <ion-item >
              <ion-label position="floating">Cinta</ion-label>
              <ion-select formControlName="cinta" interface="action-sheet" mode='ios' cancelText='Cancelar' disabled>
                <ion-select-option value='cafe'>Café</ion-select-option>
                <ion-select-option value='ploma'>Plomo</ion-select-option>
                <ion-select-option value='verde'>Verde</ion-select-option>
                <ion-select-option value='amarillo'>Amarillo</ion-select-option>
                <ion-select-option value='rojo'>Rojo</ion-select-option>
                <ion-select-option value='azul'>Azul</ion-select-option>
                <ion-select-option value='negro'>Negro</ion-select-option>
                <ion-select-option value='violeta'>Violeta</ion-select-option>
                <ion-select-option value='blanco'>Blanco</ion-select-option>
                <ion-select-option value='lila'>Lila</ion-select-option>
                <ion-select-option value='naranja'>Naranja</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4" >
            <div class="io-color io-bg-{{calibrajeForm.value.cinta}}">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="floating">Tipo Calibración</ion-label>
        <ion-select formControlName="tipo" interface="action-sheet" mode='ios' cancelText='Cancelar'>
          <ion-select-option *ngFor="let calibraje of listCalibrajes" [value]='calibraje.id'>{{calibraje.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" name="cantidad" formControlName="cantida"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)="back()">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" [disabled]="calibrajeForm.invalid">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-content *ngIf="lista" class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <ion-item *ngIf="!carga && listado.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>
    <ion-item *ngFor="let  calibraje of listado; let i=index" (click)="editar( calibraje.id)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3" size-sm="2" size-md="1">
            <div class="circulo-color io-bg-{{calibraje.cinta_id.color}}">
              {{calibraje.cantidad}}
            </div>
          </ion-col>
          <ion-col size="9" size-sm="10" size-md="11">
            <h4 style="color: #31A833;" class="ion-text-uppercase">{{ calibraje.finca_id.nombre}}</h4>
            <ion-row> 
              <ion-col size='7'> {{ calibraje.tipo_calibraje_id.nombre}} </ion-col>
              <ion-col size='5' class="item-list-semana"> Semana: {{ calibraje.semana}}  </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="get_requisitos()"> <!--addEstimado -->
        <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentModal()">
        <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


 <!-- <ion-list>
        <ion-radio-group  value="{{tipo}}">
          <ion-list-header>
            <ion-label>Tipo: </ion-label>
          </ion-list-header>
          <ion-item lines='none' *ngFor="let item of listTipoEnfunde">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-radio slot="start" value="{{item.id}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list> -->

<!-- 
        <ion-row class="ion-padding-bottom ion-padding-top">
        <ion-col size="12">
          
          <ion-row >
            <ion-col size="2" class="ion-no-padding" >

              <div style="border-radius: 50%;" class="io-color io-bg-{{ calibraje.cinta_id.color}}">
  
              </div>
            </ion-col>
            <ion-col size="10" class="ion-text-capitalize">
              <h2 style="margin-top: 2% !important; margin-bottom: 2% !important; width: max-content;">{{ calibraje.cantidad}} {{ calibraje.cinta_id.color}}</h2>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p style="width: 100%;">Semana: {{ calibraje.semana}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>{{ calibraje.tipo_calibraje_id.nombre}} </p>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
        <ion-icon name="create-outline" size="small" slot="end" (click)="editar( calibraje.id)"></ion-icon>
      <ion-icon name="trash-outline" size="small" slot="end" color="danger" (click)="delete( calibraje.id)"></ion-icon>
      -->
      
      
        <!-- <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <h3 style="color: #31A833;">Finca {{ calibraje.finca_id.nombre}}</h3>
              <h2 style="margin-top: 0px;">{{ calibraje.cantidad}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Semana {{ calibraje.semana}}</p>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
      <ion-icon name="create-outline" size="large" slot="end" (click)="editar( calibraje.id)"></ion-icon>
      <ion-icon name="add-circle-outline" size="large" slot="end" color="danger" (click)="delete( calibraje.id)"></ion-icon> -->
      