
.bt-primary{
    border-radius: 50px; 
    background-color: #31A833; 
    color: #fff;
}

.oi-border{
    border-radius: 5px;
}

.io-cont-button{
    position: absolute;
}
.io-color{
    /* height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 7%; */
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
}
//
.item-inner{
    --padding-end: 5px;
}
/*
.col-fullwidth{
    //calc(calc(8 / var(--ion-grid-columns, 12)) * 100%)
    flex: 0 0 var(--ion-grid-columns, 12)!important;
    width: var(--ion-grid-columns, 12)!important;
    max-width:  var(--ion-grid-columns, 12)!important;
}
*/