<ion-content  class="bg-general-class" *ngIf="!crear">
  <ion-item style="padding: 16px;">
    <ion-col size="8">
      Restar racimos:
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-toggle color="primary"  [(ngModel)]="showResta"></ion-toggle>
    </ion-col>
  </ion-item>
  <!-- 
    <ion-row>
      <ion-col size='2'>
      </ion-col>
      <ion-col size='8'>
        <ion-item>
          <ion-col size='8'>Total: </ion-col>
          <ion-col size='4' style="text-align: right;"> {{racimo.total_racimos}}</ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
  -->
    <ion-row>
      <ion-col size='2'>
      </ion-col>
      <ion-col size='8'>
          <h5 style="text-align: center;" [ngClass]="{'text-rojo':showResta, 'text-verde': !showResta}">{{!showResta?'Sumando...':'Restando...'}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Color: verde -->
      <ion-col size="4" *ngFor="let itemRacimo of racimo.data_racimos">
        <ion-card (click)="itemOperador(showResta,itemRacimo )" class="cuadro-color io-bg-{{itemRacimo.color}}">
          <h3>{{itemRacimo.color}}</h3>
          <h2>{{itemRacimo.cantidad}}</h2>
        </ion-card>
      </ion-col>
      <!-- rechazo -->
      <ion-col size="8">
        <ion-card  class="cuadro-color"  color="medium" (click)="itemOperador(showResta, '',true)">
          <h3>Rechazados</h3>
          <h2>{{racimo.total_racimos_rechazado}}</h2>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card color="light" class="cuadro-color" style="color: #000;">
          <h3>Total</h3>
          <h2>{{racimo.total_racimos}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>

  <ion-grid>

    <ion-row style="margin-top: 10px;">
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)='regresar()'>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" (click)='presentModal()'>
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-content class="bg-general-class" *ngIf="crear && seleccion">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <h3 style="color: #31A833;">Seleccione la orden de corte que se desea procesar</h3>
    <ion-item *ngFor="let orden of listado; let i=index">
      <ion-row class="ion-padding" style="width: 100%;">
        <ion-col size="12" (click)="seleccionOrdenCorte(orden.id)">
          <ion-row>
            <ion-col size="12">
              <h5 style="color: #31A833;">{{orden.finca_id}}</h5>
              <h4 style="margin-top: 0px;">{{orden.cantidad}} / {{orden.embarque_id.marca_caja_id}}</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <p>{{orden.fecha_corte|date}} </p>
            </ion-col>
            <ion-col size="4">
              <p> Semana {{orden.semana}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <p>Orden: {{orden.id}}</p>
            </ion-col>
            <ion-col size="4">
              <p>{{orden.calificador_id}}</p>
            </ion-col>

          </ion-row>

        </ion-col>
      </ion-row>
    </ion-item>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="regresar()">
        <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-content  class="bg-general-class" *ngIf="crear && !seleccion">
  <ion-item style="padding: 16px;">
    <ion-col size="8">
      Restar racimos:
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-toggle color="primary"  [(ngModel)]="showResta"></ion-toggle>
    </ion-col>
  </ion-item>
  <!-- 
    <ion-row>
      <ion-col size='2'>
      </ion-col>
      <ion-col size='8'>
        <ion-item>
          <ion-col size='8'>Total: </ion-col>
          <ion-col size='4' style="text-align: right;"> {{racimo.total_racimos}}</ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
  -->
    <ion-row>
      <ion-col size='2'>
      </ion-col>
      <ion-col size='8'>
          <h5 style="text-align: center;" [ngClass]="{'text-rojo':showResta, 'text-verde': !showResta}">{{!showResta?'Sumando...':'Restando...'}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Color: verde -->
      <ion-col size="4" *ngFor="let itemRacimo of racimo.data_racimos">
        <ion-card (click)="itemOperador(showResta,itemRacimo )" class="cuadro-color io-bg-{{itemRacimo.color}}">
          <h3>{{itemRacimo.color}}</h3>
          <h2>{{itemRacimo.cantidad}}</h2>
        </ion-card>
      </ion-col>
      <!-- rechazo -->
      <ion-col size="8">
        <ion-card  class="cuadro-color"  color="medium" (click)="itemOperador(showResta, '',true)">
          <h3>Rechazados</h3>
          <h2>{{racimo.total_racimos_rechazado}}</h2>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card color="light" class="cuadro-color" style="color: #000;">
          <h3>Total</h3>
          <h2>{{racimo.total_racimos}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>

  <ion-grid>

    <ion-row style="margin-top: 10px;">
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)='regresar()'>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" (click)='enviarResultados()'>
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<!-- 
  <ion-row class="space-sep">
      <ion-col size='2'>
      </ion-col>
      <ion-col size='8'>
        <ion-item>
          <ion-input [(ngModel)]="racimo.total_racimos"></ion-input>
          <ion-button slot="start" color='primary' >
            <ion-icon slot="icon-only" [name]="!showResta?'add-sharp':'remove-sharp'"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
-->

  <!-- 
    <ion-row>
      <!-- Color: verde 
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'verde' )" color="primary" class="cuadro-color">
          <h3>Verde</h3>
          <h2>{{racimo.data_racimos.verde}}</h2>
        </ion-card>
      </ion-col>
    <!-- Color: blanco 
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'blanco' )" color="light" class="cuadro-color">
          <h3>Blanco</h3>
          <h2>{{racimo.data_racimos.blanco}}</h2>
        </ion-card>
      </ion-col>
    <!-- Color: Amarillo 
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'amarillo' )" color="warning" class="cuadro-color">
          <h3>Amarillo</h3>
          <h2>{{racimo.data_racimos.amarillo}}</h2>
        </ion-card>
      </ion-col>
    <!-- Color: negro 
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'negro' )" color="dark" class="cuadro-color">
          <h3>Negro</h3>
          <h2>{{racimo.data_racimos.negro}}</h2>
        </ion-card>
      </ion-col>
    <!-- Color: Rojo 
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'rojo' )" color="danger" class="cuadro-color">
          <h3>Rojo</h3>
          <h2>{{racimo.data_racimos.rojo}}</h2>
        </ion-card>
      </ion-col>
    <!-- Color: azul 
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'azul' )" color="secondary" class="cuadro-color">
          <h3>Azul</h3>
          <h2>{{racimo.data_racimos.azul}}</h2>
        </ion-card>
      </ion-col>
    <!-- rechazo
      <ion-col size="4">
        <ion-card (click)="itemOperador(showResta,'rechazo')" color="medium" class="cuadro-color">
          <h3>Rechazos</h3>
          <h2>{{racimo.total_racimos_rechazado}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  -->
  
  <!-- 
    <ion-item style="margin-top: 20px;">
    <ion-col size="8">
      Ingresar racimos rechazados:
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-toggle color="primary"  [(ngModel)]="showRechazo"></ion-toggle>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-col size="8">
      Rebajar racimos:
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-toggle color="primary"  [(ngModel)]="showResta"></ion-toggle>
    </ion-col>
  </ion-item>

     <h4 class="space-sep" style="text-align: center;">{{!showResta?'Sumando...':'Restando...'}}</h4>
      <ion-row *ngIf="!showResta">
        <ion-col size="4" *ngFor="let color of boxColor.racimoColor; let i index">
          <ion-card (click)="itemSumar(color, showRechazo)" [color]="color.color" class="cuadro-color">
            <h3>{{color.nombre}}</h3>
            <h2>{{showRechazo?color.rechazado:color.cantidad}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showResta">
        <ion-col size="4" *ngFor="let color of boxColor.racimoColor">
          <ion-card (click)="itemRestar(color, showRechazo)" [color]="color.color" class="cuadro-color">
            <h3>{{color.nombre}}</h3>
            <h2>{{showRechazo?color.rechazado:color.cantidad}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>

  -->
  


<!-- 
 <ion-row *ngIf="!showSuma">
      <ion-col size="6" *ngFor="let color of boxColor">
        <ion-card>
          <ion-item>
            <ion-label>{{color.nombre}}</ion-label>
            <ion-input [value]='color.cantidad'></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="itemRestar(color, false)" [color]="color.color" size="small" expand="block">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="itemSumar(color, false)" [color]="color.color" size="small" expand="block">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
-->

