.cuadro-color{
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    h2,h3{
        margin-top: 5px;
    }
}
.io-bg-blanco{
    color: #000;
}
.io-bg-amarillo{
    color: #000;
}


