<ion-content class="ion-padding" class="bg-general-class">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center ion-align-self-center" style="height: 100%; flex-direction: column">
      <form [formGroup]="filtroForm" (ngSubmit)="onSubmit()">
        <ion-list style="padding-bottom: 2px;padding-bottom: 2px;">
          <ion-item>
            <ion-label>Tipo de Finca</ion-label>
            <ion-select formControlName="tipo" interface="action-sheet" mode='ios' cancelText='Cancelar'>
              <ion-select-option *ngFor="let finca of listTipoEnfunde" [value]='finca.id'>{{finca.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Registrada desde</ion-label>
            <ion-datetime formControlName="fechaDesde" type="text" displayFormat="DD-MM-YYYY" [min]="minDate"
              [max]="maxDate" cancelText='Cancelar' doneText="Listo" required></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Registrada hasta</ion-label>
            <ion-datetime formControlName="fechaHasta" type="text" displayFormat="DD-MM-YYYY" [min]="minDate"
              [max]="maxDate" cancelText='Cancelar' doneText="Listo" required></ion-datetime>
          </ion-item>
  
        </ion-list>
  
        <ion-row justify-content-center align-items-center>
          <ion-col size="6" justify-content-center align-items-center>
            <ion-button expand='full' strong class="boton-general" type="submit" [disabled]="filtroForm.invalid">
              APLICAR
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand='full' strong class="boton-general" (click)="salir()">
              CANCELAR
            </ion-button>
          </ion-col>
        </ion-row>
  
  
  
      </form>
    </ion-row>
  </ion-grid>
  

</ion-content>