<h1 mat-dialog-title> 
    <span *ngIf="data.id == 0"> Nuevo {{data.mantNombre}}</span>
    <span *ngIf="data.id != 0"> Editar {{data.mantNombre}}</span>
</h1>
<div mat-dialog-content>
  <p>Por Favor Ingrese el Nombre</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
</div>
<div > <!-- mat-dialog-actions -->
  
  <button mat-stroked-button color="primary" class="pull-right ml-b" [mat-dialog-close]="data" cdkFocusInitial>
    Guardar
 </button>
 <button mat-stroked-button color="primary" class="pull-right" (click)="onNoClick()">Cancelar</button>
</div>

<!-- 
    <mat-form-field *ngIf="data.vapor">
    <input matInput [(ngModel)]="data.vapor">
  </mat-form-field>
  <mat-form-field *ngIf="data.puerto">
    <input matInput [(ngModel)]="data.puerto">
  </mat-form-field>
-->