<div class="main-content">
    <div class="container-fluid">
        <subheader-bar></subheader-bar>  

        <div class="row contentMultum">
            <div class="col-md-12">
                
                <div class="row parametros">
                    <!-- 
                        <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nombre" [(ngModel)]="nomefiltro">
                        </mat-form-field>
                    </div>
                    -->
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <!-- 
                            <button mat-raised-button color="primary" (click)="filtrar()">
                            <i class="material-icons">search </i>
                         </button>
                        -->
                        <button mat-icon-button color="primary" (click)='getListado(paginator.pageIndex, paginator.pageSize, todosDatos, true)'> 
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-pdf" (click)='generarPdf()'> 
                            <mat-icon>picture_as_pdf</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" class="pull-right btn-plus" (click)="openDialog(datoDialogo)">
                            <i class="material-icons">
                                add
                            </i>
                        </button>
                    </div>
                </div>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                  
                      <!-- ID Column -->
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. </th>
                        <td mat-cell *matCellDef="let row; let i=index">{{ (paginator.pageIndex * paginator.pageSize) + (i+1)}} </td>
                      </ng-container>
                  
                      <!-- Progress Column -->
                      <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" (click)="openDialog(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="openConfirm(row.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                      </ng-container>
                  
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                      </tr>
                    </table>
                    <!-- spinner is load, cargando-->
                    <mat-card *ngIf="isLoading" class="spinner-load">
                        <mat-progress-spinner 
                            color="primary" 
                            mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card>
                    <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                        [pageSizeOptions]="pageSizeOptions" ></mat-paginator> <!-- (page)="actualizar($event)" -->
                  </div>

            </div>

        </div>
        <br><br>
        <!-- 
            <div>
            <button mat-raised-button color="primary" class="pull-right">
                Ver Grafica
             </button>
        </div>
        -->
    </div>
</div>

<!-- 
    <div class="card card-plain">
                   
                    
                    <div class="card-body">
                        
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of lista; let i=index">
                                        <td>
                                            {{i +1 }}
                                        </td>
                                        <td>
                                            {{item.vapor}}
                                            {{item.puerto}}
                                        </td>
                                        <td>
                                            <button mat-icon-button color="accent" (click)="openDialog(item)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button color="warn" (click)="openConfirm(item.id)" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="actualizar($event)">
                        

                    </mat-paginator>
                </div>
-->