

<ion-content class="ion-padding" class="bg-general-class">

  <ion-grid style="height: 100%" *ngIf="mostrar">
    <ion-row class="ion-padding ion-padding-top ion-justify-content-center ion-align-items-center" style="padding-top: 30%;">
  
    <ion-col size="12" class="ion-padding ion-justify-content-center ion-align-items-center" style="height: 100%; flex-direction: column">
      <ion-img src="../../../assets/img/logo-m.png" class="logo"></ion-img>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> <!--loginForm.value-->
        <ion-item class="bg-class-input">
          <ion-label position="floating" color="blanco">
            <ion-text color="cNegro">Usuario </ion-text>
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required formControlName="usuario" type="text"></ion-input>
        </ion-item>
        <ion-item class="bg-class-input">
          <ion-label position="floating">
            <ion-text color="cNegro">Clave </ion-text>
            <ion-text color="danger">*
            </ion-text>
          </ion-label>
          <ion-icon slot="end" [name]="passwordIcon" (click)="cambiarVisibilidad()"></ion-icon>
          <ion-input required formControlName="clave" [type]="showPassword?'text':'password'"></ion-input>
        </ion-item>
        <ion-item class="bg-class-input" *ngIf="b_mensaje">
          <ion-text color="danger">{{mensaje}}</ion-text>
        </ion-item>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-spinner name="bubbles" *ngIf="carga" ></ion-spinner>
        </ion-row>
          
        
        <ion-button class="boton-general" strong expand='full' color="white" type="submit" style="margin-top: 10px;" [disabled]="loginForm.invalid">
          Entrar
        </ion-button>

        <ion-button strong expand='full' class="ion-margin-top boton-general" routerLink='/account/registro'>
          Registrarse
        </ion-button>
      </form>
    </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>