.entrar{
    --background:white !important;
    --color-activated:white !important;
    --border-color:#BCBFBC;
    border: green($color: #000000);
    color: #31A833;
}


.bg-class{
    --background: linear-gradient(197deg, rgba(71, 245, 74, 1) 0%,  rgba(49, 168, 51, 1) 100%) !important;
    --padding: 20px;
    --padding-start: 10px;
  --padding-end: 10px;
}
.bg-class-input{
    /* --background: linear-gradient(197deg, rgb(255, 255, 255) 0%,  rgba(49, 168, 51, 1) 100%) !important; */
    --background: transparent;
    --border-radius: 20px;
    --border-color: white;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
.logo{
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 40px;
    margin-bottom: 40px;
    /* padding-top: 20%;
    padding-bottom: 0%;
    width: 70%; */
}