.logo{
    padding: 0px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 100px;
    margin-top: 10px;
}
.content-logo{
    margin-top: -10px;
    padding-top:5px;
    background-color: #19881f; 
    padding-bottom: 5px;
}
