
 
<!-- 
  <div class="logo" style="padding: 0px;">
    <img src="/assets/img/multum-logo.png" style=" width: 240px;  height: 60px; padding: 0px 30px;"/>
</div> 
<div class="logo">
    <img src="{{contantes.API_WebUrl}}/assets/img/multum-logo.png" style="width: 260px; height: 160px;"/>   
</div>
-->


<div class="sidebar-wrapper " > <!--bg-3-->
    <div class="navbar-wrapper-2 text-right" class="content-logo" >
        <div class="logo">
            <img src="{{contantes.API_WebUrl}}/assets/img/multum-logo.png" style=" width: 240px;  height: 40px; padding: 0px 30px;"/>
        </div> 
    </div>
    
    <!-- 
        <div *ngIf="isMobileMenu()">
          <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    
    <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
        <li class="nav-item" (click)="openConfirm()">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons" style="font-size: 2rem;">exit_to_app</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    -->
    
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link text-primary" [routerLink]="[menuItem.path]">
                <i class="material-icons text-primary" style="font-size: 2rem;" >{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>

<!-- 
    <mat-icon color='accent' style="font-size: 2rem;">{{menuItem.icon}}</mat-icon>
-->