.content-snack{
    background-color: black;
    padding: 14px 16px;
    min-height: 48px;
    border-radius: 4px;
    
}
.snack-warn{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.snack-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.snack-primary{
    color: #fff;
    background-color: #19881f;
    border-color: #19881f;
}