<!-- <app-header titulo='facturación'>

</app-header> -->

<ion-content class="ion-padding">
     <!--<form >  [formGroup]="facturacionForm" (ngSubmit)="eviarFormulario()" -->

        <div class="ion-text-titulo">
            <h1>Datos de Facturación</h1>
        </div>
        <ion-list #listaFactura>
            <ion-item>
                <ion-label>Receptor</ion-label>
                <ion-select  interface="action-sheet" mode='ios' cancelText='Cancelar'> <!-- formControlName="receptor"-->
                    <ion-select-option value='EQUAPAK'>EQUAPAK</ion-select-option>
                </ion-select>
            </ion-item>
            
            <!-- Dinamico -->
            <ion-item-sliding *ngFor="let fac of factura; let i=index" > <!-- id="{{i}}" #itemFactura detail(click)="opcProd(fac, $event)" -->
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="./assets/img/fruta/banana.jpg">
                    </ion-avatar>
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="8">
                                <h2 class="ion-l-t">{{fac.linea}}</h2>
                                <h3 class="ion-l-st">Banano por Lote</h3>
                                <p>{{fac.precio}} c/u</p>
                            </ion-col>
                            <ion-col size="4">
                                <h2 class="ion-l-t">Detalles:</h2>
                                <h3 class="ion-l-st">{{fac.cantidad}}uni.</h3>
                                <p>{{fac.valor}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item> 
                <ion-item-options side="start">
                    <!-- 
                     <ion-item-option (click)="modProd(fac)">Modificar</ion-item-option>   
                    -->
                    <ion-item-option  (click)="modProd(fac)">
                        <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="editDel_Prod(fac,'del')">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item lines='none' *ngIf="this.factura != null">
                <ion-label color="primary">
                    <h3>Deslizar a los lados</h3>
                </ion-label>
                <ion-avatar slot="end">
                    <img src="./assets/img/swipe.gif">
                </ion-avatar>
            </ion-item>



            <div style="margin-bottom: 60px;">

            </div>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button (click)="popNew()">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>




        </ion-list>





        <ion-item>
            <ion-avatar slot="start">
                <img src="./assets/img/Calculadora-monto.jpg">
            </ion-avatar>
            <ion-label position="stacked">Total</ion-label>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="8">

                        <h3 class="ion-l-st">Subtotal</h3>
                        <h3 class="ion-l-st">Iva 12%</h3>
                        <h3 class="ion-l-st">Iva 0%</h3>
                        <h3 class="ion-l-st">TOTAL</h3>
                    </ion-col>
                    <ion-col size="4" class="ion-text-end">

                        <h3 class="ion-l-st">{{subTotal}}$</h3>
                        <h3 class="ion-l-st">{{subTotal * 0.12}}$</h3>
                        <h3 class="ion-l-st">0$</h3>
                        <h3 class="ion-l-st">{{subTotal + (subTotal * 0.12)}}$</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-item>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="6">
                    <ion-button (click)="nuevaFactura()">
                        Nueva
                    </ion-button>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                    <ion-button (click)="enviarFactura()">
                        Facturar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>


   <!-- </form> --> 

</ion-content>
<!-- 
     <ion-item>
                <ion-avatar slot="start">
                    <img src="./assets/img/fruta/banana.jpg">
                </ion-avatar>
                <ion-label>
                    <h2>EQUAPACK 22XU</h2>
                    <h3>Banano por Lote</h3>
                    <p>100 c/u</p>
                </ion-label>
                <ion-label>
                    <p>100 c/u</p>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start">
                    <img src="./assets/img/fruta/banana.jpg">
                </ion-avatar>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="8">
                            <h2 class="ion-l-t">EQUAPACK 22XU</h2>
                            <h3 class="ion-l-st">Banano por Lote</h3>
                            <p>100 c/u</p>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="ion-l-t">Detalles:</h2>
                            <h3 class="ion-l-st">60uni.</h3>
                            <p>6000</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
-->