<div class="main-content">
  <div class="container-fluid">
      <subheader-bar></subheader-bar>

      <div class="row contentMultum">
          <div class="col-md-12">
               <!--<div > class="card card-plain"-->
                  <div class="row parametros">
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <mat-select placeholder="Año" [(ngModel)]="anio" name="item">
                                <mat-option *ngFor="let item of anios" [value]="item">
                                  {{item}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Semana Desde" [(ngModel)]="semDesde" type="number" (change)='filterSemana()'>
                              <mat-hint class="input-error">{{validSemDesde}}</mat-hint>
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Semana Hasta" [(ngModel)]="semHasta" type="number" (change)='filterSemana()'>
                              <mat-hint class="input-error">{{validSemHasta}}</mat-hint>
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <button mat-raised-button color="primary" (click)="filtrar()">
                              <i class="material-icons">search </i>  
                          </button>
                          <button mat-icon-button color="primary" (click)='getListado(paginator.pageIndex, paginator.pageSize, todosDatos, true)'> 
                            <mat-icon>refresh</mat-icon>
                          </button>
                          <button mat-icon-button class="btn-pdf" (click)='generarPdf()'> 
                            <mat-icon>picture_as_pdf</mat-icon>
                        </button>
                      </div>
                  </div>
                  
                  <div class="row filter">
                      <div class="col-md-6">
                          <mat-form-field>
                              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                          </mat-form-field>
                      </div>
                  </div>
                  
                  
                  <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" matSort>
      
                          <!-- ID Column -->
                          <ng-container matColumnDef="position">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. </th>
                              <td mat-cell *matCellDef="let row; let i = index"> {{ (paginator.pageIndex * paginator.pageSize) + (i+1)}}</td>
                          </ng-container>
      
                          <!-- Productor Column -->
                          <ng-container matColumnDef="productor">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Productor </th>
                              <td mat-cell *matCellDef="let row"> {{row.finca_id.productor_id}} </td>
                          </ng-container>
      
                          <!-- Name Column -->
                          <ng-container matColumnDef="nombreFinca">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Finca </th>
                              <td mat-cell *matCellDef="let row"> {{row.finca_id.nombre}} </td>
                          </ng-container>
      
                          <!-- Semana Column -->
                          <ng-container matColumnDef="semana">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Semana </th>
                              <td mat-cell *matCellDef="let row"> {{row.semana}} </td> 
                          </ng-container>

                          <!-- Cinta Column -->
                          <ng-container matColumnDef="tipo_calibraje_id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                              <td mat-cell *matCellDef="let row"> {{row.tipo_calibraje_id}} </td>
                          </ng-container>

                          <!-- Cinta Column -->
                          <ng-container matColumnDef="cinta_id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cinta </th>
                              <td mat-cell *matCellDef="let row"> {{row.cinta_id}} </td>
                          </ng-container>

                          <!-- Cantidad Column -->
                          <ng-container matColumnDef="cantidad">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                              <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
                          </ng-container>
      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                          </tr>
                      </table>
                  <!-- spinner is load, cargando-->
                  <mat-card *ngIf="isLoading" class="spinner-load">
                      <mat-progress-spinner 
                          color="primary" 
                          mode="indeterminate">
                      </mat-progress-spinner>
                  </mat-card>

                      <!--
                          <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                      [pageSizeOptions]="pageSizeOptions" (page)="updateListado($event, todosDatos)"></mat-paginator>    
                          -->
                      <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                      [pageSizeOptions]="[5, 10, 25]" ></mat-paginator>
                  </div>
      


          </div>

          
      </div>

      <br><br>
      <!-- 
         <div>

          <button mat-raised-button color="primary" class="pull-right">
              Ver Grafica
          </button>
      </div> 
      -->
      




  </div>
</div>


<!-- 
  <div class="card-body">
                      
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      #
                                  </th>
                                  <th>
                                      Productor
                                  </th>
                                  <th>
                                      Finca
                                  </th>
                                 
                                  <th>
                                      Semana
                                  </th>
                                  <th>
                                      Cinta
                                  </th>
                                  <th>
                                      Cantidad
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of listado; let i=index">
                                      <td>
                                          {{i +1 }}
                                      </td>
                                      <td>
                                          {{item.finca_id.productor_id}}
                                      </td>
                                      <td>
                                          {{item.finca_id.nombre}}
                                      </td>
                                      <td>
                                          {{item.semana}}
                                      </td>
                                      <td>
                                          {{item.cinta_id}}
                                      </td>
                                      <td>
                                          {{item.enfunde}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>

                  <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                      [pageSizeOptions]="pageSizeOptions" (page)="actualizarPage($event)">

                  </mat-paginator>    
-->

<!-- 
  Mat Tabla usada: https://stackblitz.com/angular/jepammkmblq?file=src%2Fapp%2Ftable-overview-example.ts
  -->