
.circulo-cinta{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 24px;
    /* margin: 0% 20%; */
    color: #fff;
    padding: 30%;
}

.circulo-color{
    width: 20%;
    border-radius: 50%;
    background-color: red;
}

p{
    font-weight: 400;
    font-size: 14px;  
}

.space_sep{
    margin-top: 10px;
}
.ico-border{
    border-radius: 50%;
    padding: 5px;
    background: #fff;
}

@media(max-width: 380px){
    .ico-list {
        font-size: 30px;
    }
    .responsive{
        --padding-start: 0px; 
    }
    /* 
        ion-item{
            height: 34px;
        }
    */
    
}

