<ion-content class="ion-padding bg-general-class">
  <!-- Total Header -->
  <ion-row style="flex-direction: column; padding-left: 4%; padding-right: 3%; margin-bottom: 20px; "> <!-- padding-top:20%; -->
    <ion-col size="12" style="color: #31A833; text-align: center;">
      <div style="text-align: right;">
        
        <ion-icon name="bar-chart-sharp" class="ico-border" size="large" color="primary" ></ion-icon> <!-- (click)='' -->
      </div>
      <h3 style="margin-bottom: 0px; margin-top: 0px;"> {{tipo}} </h3>
      <h6>{{data.finca}}</h6>
      <h5> <span style="color: #000; margin-right: 5px;">Año: {{data.anio}} </span>  Semana: {{data.semana}}</h5>
    </ion-col>
  </ion-row> 

  <!-- Total Cajas -->
  <div *ngIf="tipo == 'Control Cajas'">
    <div> <!-- Detalles por caja -->
      <!-- caja peso: 37.48 -->
      <ion-item *ngIf="data.cajas.listado_cajas['37.48']">
        <ion-col size="8">
          Tipo de 37.48 :
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          {{data.cajas.listado_cajas['37.48'] | number}}
        </ion-col>
      </ion-item>
      <!-- caja peso: 41.5 -->
      <ion-item *ngIf="data.cajas.listado_cajas['41.5']">
        <ion-col size="8">
          Tipo de 41.5 :
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          {{data.cajas.listado_cajas['41.5'] | number}}
        </ion-col>
      </ion-item>
      <!-- caja peso: 43.0 -->
      <ion-item *ngIf="data.cajas.listado_cajas['43.0']">
        <ion-col size="8">
          Tipo de 43.0 :
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          {{data.cajas.listado_cajas['43.0'] | number }}
        </ion-col>
      </ion-item>
      <ion-item *ngIf="data.cajas.caja_segunda">
        <ion-col size="8">
          Cajas de segunda:
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          {{data.cajas.caja_segunda[50] | number }}
        </ion-col>
      </ion-item>
    </div>

    <ion-item class="space_sep">
      <ion-col size="8">
        Total Cajas Físicas
      </ion-col>
      <ion-col size="4" style="text-align: right;">
        {{totalCajasFisicas | number}} <!-- {{data.cajas.total_cajas}}  -->
      </ion-col>
    </ion-item>
    <ion-item class="t-p">
      <ion-col size="8">
        Peso Referencia: 43.00
      </ion-col>
      <ion-col size="4" style="text-align: right;">
         {{pesoReferencia | number : '1.2-2'}}%
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col size="8">
        Total Cajas Referencia:
      </ion-col>
      <ion-col size="4" style="text-align: right;">
        {{totalCajasReferencia | number : '1.0-0'}}
      </ion-col>
    </ion-item>

    
    <ion-item class="t-p">
      <ion-col size="4">
        Peso: 50.00
      </ion-col>
      <ion-col size="8" style="text-align: right;">
        % Cajas de segunda: <span class="label-value"> {{data.cajas.porcentaje_segunda}}% </span> 
      </ion-col>
    </ion-item>
    
    <ion-card *ngIf="confirm">
      Acepta estos valores de CAJAS 
      como válidos para la semana.
    </ion-card>



  </div>
  <!-- Inventario -->
  <div *ngIf="tipo == 'Inventario'">
    <ion-row>
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;" *ngFor="let inventario of data.inventario.inventarios; let i=index">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-{{inventario.cinta}}"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: {{inventario.cinta}}</h3>
                <h3 class="ion-l-st text-primary">Edad: {{inventario.edad}}</h3>
                <p>Inicial: {{inventario.inicial | number}} </p>
                <p>Final:  {{inventario.final | number}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
    <div >
      <ion-item style="margin-top: 10px;">
        <ion-col size="8">
          Inventario Inicial:
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          {{data.inventario.total_inicial | number}}
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="6">
          Inventario Final: 
        </ion-col>
        <ion-col size="6" style="text-align: right;">
           {{data.inventario.total_final | number}} 
        </ion-col>
      </ion-item>
    </div>
  </div>
  <!-- Tendencias -->
  <div *ngIf="tipo == 'Tendencia'">
     
      <ion-row>
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;" *ngFor="let tendencia of data.tendencia.tendencias">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-{{tendencia.cinta}}"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: {{tendencia.cinta}}</h3>
                <h3 class="ion-l-st">Edad: {{tendencia.edad}}</h3>
                <p>Cantidad: {{tendencia.cantidad | number}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
    
      <ion-item style="margin-top: 20px;">
        <ion-col size="8">
          Total Racimos:
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          {{data.tendencia.total_racimos | number}}
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="6">
          Total Cajas: 
        </ion-col>
        <ion-col size="6" style="text-align: right;">
           {{data.tendencia.total_cajas | number}} 
        </ion-col>
      </ion-item>
    
  </div>
  <!-- Control Racimos -->
  <div *ngIf="tipo == 'Control Racimos'">
    <ion-row>
      <!-- verde -->
      <ion-col size="6"  style="margin-bottom: 5px; padding-left: 2px;" *ngFor="let racimo of data.racimos.data_racimos; let i=index">
        <ion-item class="responsive" style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-{{racimo.color}}"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st"> <span class="size-hide">Cinta:</span> {{racimo.color}}</h3>
                <h3 class="ion-l-st">Edad: {{racimo.edad}}</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{racimo.cantidad | number}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
    
    
      <ion-item style="margin-top: 20px;">
        <ion-col size="9">
          Total Racimos Cosechados:
        </ion-col>
        <ion-col size="3" style="text-align: right;">
          {{data.racimos.total_racimos | number}}
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="9">
          Racimos Rechazados: 
        </ion-col>
        <ion-col size="3" style="text-align: right;">
           {{data.racimos.total_racimos_rechazado | number}} 
        </ion-col>
      </ion-item>

      
        <ion-card *ngIf="confirm">
          Acepta estos valores de racimos 
          cosechados y rechazados 
          como válidos para la semana.
          Se actualizara el inventario de 
          racimos para esta semana
        </ion-card>

    </div>

  
<ion-row style="margin-top: 10px;" *ngIf="!confirm">
  <ion-col size="12" >
    <ion-button expand='full' strong class="boton-general" (click)="salir()" >
      REGRESAR
    </ion-button>
  </ion-col>
</ion-row>

<ion-row justify-content-center align-items-center *ngIf="confirm">
  <ion-col size="6">
    <ion-button expand='full' strong class="boton-general" (click)="salir()">
      CANCELAR
    </ion-button>
  </ion-col>
  <ion-col size="6" justify-content-center align-items-center>
    <ion-button expand='full' strong class="boton-general" (click)="seleccion('/main/tabs/tab2')"> <!-- type="submit" -->
      aceptar
    </ion-button>
  </ion-col>
</ion-row>
 
  

</ion-content>


<!-- 
  <ion-row>
      <!-- verde 
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-verde"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: verde</h3>
                <h3 class="ion-l-st">Edad: 1</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{data.racimos.data_racimos.verde}}</p>
                <p *ngIf="tipo == 'Tendencia'">Cantidad: {{data.tendencia.semana['8']}}</p>
                <p *ngIf="tipo == 'Inventario'">Inicial: {{data.inventario_inicial['8']}}</p>
                <p *ngIf="tipo == 'Inventario'">Final: {{data.inventario_final['8']}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <!-- blanco 
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-blanco"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: Blanco</h3>
                <h3 class="ion-l-st">Edad: 1</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{data.racimos.data_racimos.blanco}}</p>
                <p *ngIf="tipo == 'Tendencia'">Cantidad: {{data.tendencia.semana['9']}}</p>
                <p *ngIf="tipo == 'Inventario'">Inicial: {{data.inventario_inicial['9']}}</p>
                <p *ngIf="tipo == 'Inventario'">Final: {{data.inventario_final['9']}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <!-- amarillo
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-amarillo"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: Amarillo</h3>
                <h3 class="ion-l-st">Edad: 1</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{data.racimos.data_racimos.amarillo}}</p>
                <p *ngIf="tipo == 'Tendencia'">Cantidad: {{data.tendencia.semana['10']}}</p>
                <p *ngIf="tipo == 'Inventario'">Inicial: {{data.inventario_inicial['10']}}</p>
                <p *ngIf="tipo == 'Inventario'">Final: {{data.inventario_final['10']}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <!-- negro 
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-negro"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: Negro</h3>
                <h3 class="ion-l-st">Edad: 1</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{data.racimos.data_racimos.negro}}</p>
                <p *ngIf="tipo == 'Tendencia'">Cantidad: {{data.tendencia.semana['11']}}</p>
                <p *ngIf="tipo == 'Inventario'">Inicial: {{data.inventario_inicial['11']}}</p>
                <p *ngIf="tipo == 'Inventario'">Final: {{data.inventario_final['11']}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <!-- rojo 
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-rojo"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: Rojo</h3>
                <h3 class="ion-l-st">Edad: 1</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{data.racimos.data_racimos.rojo}}</p>
                <p *ngIf="tipo == 'Tendencia'">Cantidad: {{data.tendencia.semana['12']}}</p>
                <p *ngIf="tipo == 'Inventario'">Inicial: {{data.inventario_inicial['12']}}</p>
                <p *ngIf="tipo == 'Inventario'">Final: {{data.inventario_final['12']}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <!-- Azul 
      <ion-col size="6" style="margin-bottom: 5px; padding-left: 2px;">
        <ion-item style="border-bottom: 1px solid rgb(162, 158, 158);">
          <ion-icon name="ellipse-sharp" class="ico-list text-azul"></ion-icon>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <h3 class="ion-l-st">Cinta: Azul</h3>
                <h3 class="ion-l-st">Edad: 1</h3>
                <p *ngIf="tipo == 'Control Racimos'">Cantidad: {{data.racimos.data_racimos.azul}}</p>
                <p *ngIf="tipo == 'Tendencia'">Cantidad: {{data.tendencia.semana['13']}}</p>
                <p *ngIf="tipo == 'Inventario'">Inicial: {{data.inventario_inicial['13']}}</p>
                <p *ngIf="tipo == 'Inventario'">Final: {{data.inventario_final['13']}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
-->