<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top" style="padding:0px">
    <div class="container-fluid">

        <!-- 
        <div class="navbar-wrapper-2 text-right" style=" margin-top: -10px; padding-top:5px;">
            <div class="logo">
                <img src="{{constantes.API_WebUrl}}/assets/img/multum-logo.png" style=" width: 240px;  height: 40px; padding: 0px 30px;"/>
            </div> 
        </div>
        -->
        
        <button mat-raised-button class="navbar-toggler" color="primary" type="button" (click)="sidebarToggle()" style="height: 26px;">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <form class="navbar-form" style="margin-right: 20px;">
            <div class="input-group no-border">
                <!-- 
                  <button mat-raised-button  type="submit" class="btn btn-accent btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>  
                -->
                <input type="text" value="" class="form-control input-search"  placeholder="Buscar...">
                <button mat-mini-fab color="primary" class="imput-mini-btn">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form> 
       
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            
            <div style=" display: flex;">
                <button mat-icon-button color="accent" class="ico-1">
                    <mat-icon>settings</mat-icon> <!-- class="ico-blanco" -->
                </button>
                <!-- 
                 <span class="text-nav" style="margin-right: 60px;" >
                    Configuración 
                </span>   
                -->
                
                <button mat-icon-button color="accent" class="ico-1">
                    <mat-icon>account_circle</mat-icon> <!-- class="ico-blanco" -->
                </button>
                <!-- 
                   <span class="text-nav">
                    FNaula
                </span> 
                -->
                
                <div class="btn-group" style="margin: 0px;">
                    <button mat-icon-button color="accent" class="ico-1" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        <mat-icon style="color:#ffd538!important;">notifications</mat-icon>
                        <span class="notification">5</span>
                    </button>
                    <div class="dropdown-menu" style="left: -100px;">
                      <a class="dropdown-item">
                        <span class="ui-badge">9</span>
                          Enfundes
                      </a>
                      <a class="dropdown-item"> 
                        <span class="ui-badge">5</span>
                        Estimados
                      </a>
                      <a class="dropdown-item">
                        <span class="ui-badge">4</span> Solicitudes 
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">Embarque Completado</a>
                    </div>
                  </div>

               
                
                <button mat-icon-button color="accent" class="ico-1" style="margin-left: 10px;" (click)="openConfirm()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </div>
    </div>
</nav>


<!-- 
                <ul class="navbar-nav">
                
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        <mat-icon color='accent' style="font-size: 2rem;">notifications</mat-icon>
                        <span class="notification">5</span>
                        <p>
                            <span class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                        <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                        <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                    </div>
                </li>

                <li class="nav-item">
                    <button mat-icon-button color="accent" class="ico-1">
                        <mat-icon>settings</mat-icon>
                    </button> 
                </li>

                
                <li class="nav-item" (click)="openConfirm()">
                    <a class="nav-link" href="javascript:void(0)">
                        
                        <mat-icon color='accent' style="font-size: 2rem;">exit_to_app</mat-icon>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
            -->
<!-- 

<nav class="navbar navbar-transparent navbar-absolute" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)" style="color: #fff!important;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Mike John responded to your email</a></li>
                        <li><a href="javascript:void(0)">You have 5 new tasks</a></li>
                        <li><a href="javascript:void(0)">You're now friend with Andrew</a></li>
                        <li><a href="javascript:void(0)">Another Notification</a></li>
                        <li><a href="javascript:void(0)">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
 -->
