
.input-group {
    width: 100%;
    margin-bottom: 0px;
   }

   .navbar .navbar-wrapper-2 {
    display: -webkit-inline-box;
    display: inline-flex;
}
mat-icon{
    font-size: 2rem; 
}
.input-search{
    background: #fff;
    border-radius: 20px!important;
    color: #1B5E20;
    padding-left: 5px!important;
    margin-right: -25px;
    margin-top: 5px; width: 300px;
    margin-left: 260px;
}
.ico-1{
    font-size: 2rem;
    margin-right: 10px;
}
.text-nav{
    font-size: 1rem;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    margin-right: 30px;
}
.imput-mini-btn{
    margin-top: 7px;
    margin-left: -12px;
    width: 30px;
    height: 30px;
}
.mat-button-wrapper{
    margin-bottom: 10px;
    padding-top: 0px;
}

.imput-mini-btn  i{
    margin-bottom: 5px;
}
/*
   .navbar .navbar-wrapper {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}
*/

@media (min-width: 900px) and (max-width: 1050px) {
    .input-search{
        width: 200px;
    }
}
@media (max-width: 770px) {
    .input-search{
        display: none;
    }
}

.ui-badge{
    font-size: 12px;
    background-color: #19881f;
    color: #fff;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 5px;
}
.ui-badge:hover .ui-badge{
    background-color: #fff;
    color: #19881f;  
}
.ui-badge:hover{
    font-size: 12px;
    background-color: #fff;
    color: #1B5E20;  
  }
  .dropdown-menu .dropdown-item:hover .ui-badge, .dropdown-menu .dropdown-item:focus .ui-badge, .dropdown-menu a:hover .ui-badge, .dropdown-menu a:focus .ui-badge, .dropdown-menu a:active  .ui-badge{
    
    background-color: #fff;
    color: #1B5E20;  
}