<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding bg-general-class">

  <ion-item class="bg-class-input">
    <h1 class="title">Registro</h1>
  </ion-item>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="bg-class-input">
    <ion-list>
      <ion-item class="bg-class-input">
        <ion-label position="floating" color="blanco">
          <ion-text color="cNegro">Ruc. </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="identificacion" type="number"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col size="6">
          <ion-item class="bg-class-input">
            <ion-label color="blanco" position="floating">
              <ion-text color="cNegro">Primer Nombre </ion-text>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="pNombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="bg-class-input">
            <ion-label color="blanco" position="floating">
              <ion-text color="cNegro">Segundo Nombre </ion-text>
            </ion-label>
            <ion-input formControlName="sNombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="bg-class-input">
            <ion-label color="blanco" position="floating">
              <ion-text color="cNegro">Primer Apellido </ion-text>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="pApellido" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="bg-class-input">
            <ion-label color="blanco" position="floating">
              <ion-text color="cNegro">Segundo Apellido </ion-text>
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="sApellido" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Teléfono </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="telefono" type="tel" minlength='6' maxlength='18'></ion-input>
      </ion-item>
      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Fecha de Nacimiento </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime formControlName="fechaNac" type="text" displayFormat="YYYY-MM-DD" min="1920" max="2010"
          cancelText='Cancelar' doneText="Listo" required></ion-datetime>
      </ion-item>
      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Dirección </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="direccion" type="text"> </ion-input>
      </ion-item>
      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Correo </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="correo" type="text"> </ion-input>
      </ion-item>
      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Usuario </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="usuario" type="text"></ion-input>
      </ion-item>
      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Contraseña </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="clave" type="password"></ion-input>
      </ion-item>
      <ion-item class="bg-class-input">
        <ion-label color="blanco" position="floating">
          <ion-text color="cNegro">Confirmar Contraseña </ion-text>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="confClave" type="password" (focusout)="onBlur()"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row align-items-center justify-content-center>
      <ion-spinner name="bubbles" *ngIf="carga"></ion-spinner>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)="tieneCuenta()">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" [disabled]="registroForm.invalid">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>