.sdfsdf{
    --color:white !important;
    --color-activated:white !important;
    --border-radius: 20px;
    --border-color: white;
}


.bg-class{
    --background: linear-gradient(197deg, rgba(71, 245, 74, 1) 0%,  rgba(49, 168, 51, 1) 100%) !important;
    --padding: 20px;
    --padding-start: 10px;
  --padding-end: 10px;
  
}
.bg-class-input{
    /* --background: linear-gradient(197deg, rgb(255, 255, 255) 0%,  rgba(49, 168, 51, 1) 100%) !important; */
    --background: transparent;
    --padding: 20px;
    //--border-radius: 20px;
    //--border-color: white;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}
.title{
    color:black;
}