<!-- <app-header titulo='Labores'>

</app-header> -->
<ion-content class="bg-general-class">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-padding-start ion-padding-top" color="verdeheader">
        <h3>
          Bienvenido, {{nombre}} 
        </h3>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card ion-align-items-center" (click)="seleccion('/main/tabs/tab2/estimado')">
          <ion-icon name="copy-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center" >
            Estimado
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-end pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/ordendecorte')">
          <ion-icon name="crop" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Orden de corte
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/enfunde')">
          <ion-icon name="cube-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Enfunde
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-end pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/calibraje')">
          <ion-icon name="analytics" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Calibración
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/racimo')">
          <ion-icon name="leaf-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Control Racimos
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/cajas')">
          <ion-icon name="cube-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            cajas
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/salida-caja')">
          <ion-icon name="car-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Salida
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-end pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/produccion')">
          <ion-icon name="pie-chart-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Producción
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>
      
    

  </ion-grid>
</ion-content>
