<ion-content class=" ion-padding bg-general-class">
  
  <ion-item lines="none">
    <ion-label color='primary'>
      Producción
    </ion-label>
  </ion-item>
  
  <!-- Produccion-->
  <ion-item (click)="presentModal('Control Cajas')">
    <ion-label>
      Total Cajas:  <span class="label-value"> {{produccion.cajas.total_cajas | number : '1.2-2'}} </span> 
    </ion-label>
    <ion-icon name="chevron-forward-sharp" slot="end" color='primary'></ion-icon>
  </ion-item>
  <ion-item (click)="presentModal('Control Racimos')">
    <ion-label>
      Total Racimos:  <span class="label-value"> {{produccion.racimos.total_racimos | number : '1.2-2'}} </span> 
    </ion-label>
    <ion-icon name="chevron-forward-sharp" slot="end" color='primary'></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-item>
          <ion-label>
            % Recobro:  <span class="label-value"> {{produccion.racimos.recobro}}% </span> 
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size='6'>
        <ion-item>
          <ion-label>
           Ratio: <span class="label-value"> {{produccion.racimos.ratio}} </span>  
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Tendencia-->
  <ion-item lines="none" *ngIf="produccion.tendencia" (click)="presentModal('Tendencia')">
    <ion-label color='primary' >
      Tendencia
    </ion-label>
    <ion-icon name="chevron-forward-sharp" slot="end" color='primary'></ion-icon>
  </ion-item>
  <ion-grid *ngIf="produccion.tendencia">
    <ion-row>
      <ion-col size='12' size-sm='6'>
        <ion-item>
          <ion-label>
            Total Racimos: <span class="label-value" > {{produccion.tendencia.total_racimos | number }} </span>  <!-- *ngIf="produccion.tendencia.total_racimos" -->
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size='12' size-sm='6'>
        <ion-item>
          <ion-label>
            Total Cajas: <span class="label-value"> {{produccion.tendencia.total_cajas | number}} </span>  <!-- *ngIf="produccion.tendencia.total_cajas" -->
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Inventario-->
  <ion-item lines="none" (click)="presentModal('Inventario')">
    <ion-label color='primary'>
      Inventario de Racimos
    </ion-label>
    <ion-icon name="chevron-forward-sharp" slot="end" color='primary'></ion-icon>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-item>
          <ion-label>
            Inicial: <span class="label-value"> {{produccion.inventario.total_inicial | number}} </span> 
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size='6'>
        <ion-item>
          <ion-label>
            Final: <span class="label-value"> {{produccion.inventario.total_final | number}} </span> 
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row style="margin-top: 10px;">
    <ion-col size="12">
      <ion-button expand="full"  class="boton-general" (click)='regresar()'>
        Cancelar
      </ion-button>
    </ion-col>
  </ion-row>

  
  
   
</ion-content>

<!-- 
<ion-grid>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>

-->