<p>
  facturar works!
</p>

<ion-list>
  <ion-item *ngFor="let fac of facCuerpo; let i=index" >
    <ion-avatar slot="start">
        <img src="./assets/img/fruta/banana.jpg">
    </ion-avatar>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="8">
                <h2 class="ion-l-t">{{fac.linea}}</h2>
                <h3 class="ion-l-st">Banano por Lote</h3>
                <p>{{fac.precio}} c/u</p>
            </ion-col>
            <ion-col size="4">
                <h2 class="ion-l-t">Detalles:</h2>
                <h3 class="ion-l-st">{{fac.cantidad}}uni.</h3>
                <p>{{fac.valor}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-item> 
</ion-list>


<ion-button (click)="salir()" expand='full' color="danger">
  salir
</ion-button>