<h1 mat-dialog-title> 
    <span> Nuevo Embarque</span>
</h1>
<div mat-dialog-content>

  <form [formGroup]="embarqueForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='codigo' placeholder="Codigo">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select formControlName='marca_caja_id'>
            <mat-option *ngFor="let item of listaMarcaCaja" [value]="item.id">
              {{item.marca_caja}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='fecha_embarque_desde' [matDatepicker]="dateDesde" placeholder="Fecha desde" (dateChange)="buscarEnfunde(embarqueForm.value.fecha_embarque_desde)" disabled>
          <mat-datepicker-toggle matSuffix [for]="dateDesde"></mat-datepicker-toggle>
          <mat-datepicker #dateDesde disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='fecha_embarque_hasta' [matDatepicker]="dateHasta" placeholder="Fecha hasta">
          <mat-datepicker-toggle matSuffix [for]="dateHasta"></mat-datepicker-toggle>
          <mat-datepicker #dateHasta></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="datosFecha.id > 0">
      <br>
        <div class="row">
          <div class="col-md-6">
            Año: {{datosFecha.anio}}  
          </div>
          <div class="col-md-6">
           Semana:  {{datosFecha.semana}}  
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='peso' placeholder="Peso">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='largo' placeholder="Largo">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <div class="row">
        <div class="col-md-2">Minimo: {{element.from}}</div>
          <div class="col-md-8">
            <ng5-slider
        [(value)]="element.from"
        [(highValue)]="element.to"
        [options]="{
          floor: 0,
          ceil: 100,
          disabled: !element.active,
          hideLimitLabels: true,
          hidePointerLabels: true
        }"
        [manualRefresh]="slidersRefresh"
      ></ng5-slider>
          </div>
        <div class="col-md-2">Maximo: {{element.to}}</div>
        </div>
        

      </div>
      <!-- 
        <div class="col-md-3">
        <mat-form-field>
          <input matInput formControlName='calidad_minima' placeholder="Calidad Minima">
        </mat-form-field> 
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput formControlName='calidad_maxima' placeholder="Calidad Maxima">
        </mat-form-field>
      </div>

      -->
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='cantidad' placeholder="cantidad">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='precio' placeholder="Precio" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='cupo' placeholder="cupo" type="number">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Vapor</mat-label>
          <mat-select formControlName='vapor_id'>
            <mat-option *ngFor="let item of listaVapor" [value]="item.id">
              {{item.vapor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Puerto de Salida</mat-label>
          <mat-select formControlName='puerto_salida_id'>
            <mat-option *ngFor="let item of listaPuerto" [value]="item.id">
              {{item.puerto}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Puerto Destino</mat-label>
          <mat-select formControlName='puerto_destino_id'>
            <mat-option *ngFor="let item of listaPuerto" [value]="item.id">
              {{item.puerto}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
      
  </form>



</div>
<div > <!-- mat-dialog-actions -->
  <button mat-button color="warn" (click)="onNoClick()">Salir</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" class="pull-right"  [disabled]="embarqueForm.invalid"  cdkFocusInitial>  <!-- -->
    Listo!!
 </button>
</div>


<!-- [mat-dialog-close]="data"  -->