/* https://stackblitz.com/angular/romvkygmaaa?file=src%2Fapp%2Fautocomplete-overview-example.css */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }



/* Rango https://stackblitz.com/edit/angular-material-range-slider-kxqxmq?file=app%2Ftable%2Ftable.component.scss */
