<div class="main-content">
  <div class="container-fluid">
    <subheader-bar></subheader-bar>  
      <div class="row contentMultum">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-body">
                    

                      <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-select placeholder="Año" [(ngModel)]="anio" name="item">
                                <mat-option *ngFor="let item of constantsS.anioS" [value]="item">
                                  {{item}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Semana Desde" [(ngModel)]="sem_desde" type="number" min="1" max="53" step="1" (change)="validSemana()">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Semana Hasta" [(ngModel)]="sem_hasta" type="number" [min]="sem_desde" max="53" step="1" (change)="validSemana()">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <button mat-raised-button color="primary" > <!-- (click)="updateListadoJson" -->
                                <i class="material-icons">search </i>
                             </button>
                             <button mat-mini-fab color="primary" class="pull-right btn-plus" (click)="newEditEmb(nuevaData)">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            
                          </div>
                      </div>
                    
                      

                      <div class="example-header">
                          <!-- 
                              <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                        </mat-form-field>
                          -->
                        
                      </div>
                      
                      <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource" matSort>
                      
                          <!-- Position Column -->
                          <ng-container matColumnDef="nro">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i=index"> {{ i+1}} </mat-cell> <!-- (dataSource.paginator.pageIndex * dataSource.paginator.pageSize) -->
                          </ng-container>
                          
                          <!-- Name Column -->
                          <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
                          </ng-container>
                      
                          <!-- Weight Column -->
                          <ng-container matColumnDef="anio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Año/Semana </mat-header-cell>
                            <mat-cell *matCellDef="let element"> año: {{element.anio}}, sem: {{element.semana}} </mat-cell>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="puertodestino">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Destino </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.puertodestino}} </mat-cell>
                          </ng-container>
                      
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="vapor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> vapor </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.vapor}} </mat-cell>
                          </ng-container>

                          <!-- Symbol Column -->
                          <ng-container matColumnDef="marcacaja">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Marca caja  </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.marcacaja}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="estimadopendiente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estimado pendiente </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.estimadopendiente}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="cupo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Cupo </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.cupo}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                          </ng-container>
                          
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let item; let i=index" (click)="$event.stopPropagation(); "> 
                                <button mat-icon-button (click)="newEditEmb(item)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="openListEstimado()">
                                    <mat-icon>directions_boat</mat-icon>
                                </button>
                                <button mat-icon-button [routerLink]="['/OrdenCorte', item.codigo]">
                                    <mat-icon>crop</mat-icon>
                                </button>
                            </mat-cell>
                          </ng-container>
                          
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" 
                                    [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
                          </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
                      </div>
                      
                      <ng-template #tpl let-element>
                        <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden" >
                          <mat-list>
                            <h3 mat-subheader>nada</h3>
                            
                          </mat-list>
                        </div>
                      </ng-template>
                      
                  </div>
                  
                      
                  
                  
              </div>
              
          </div>

      </div>

      <br><br>
      <div>
        <button mat-raised-button color="primary" class="pull-right">
             Ver Grafica 
         </button>
      </div>



     
  </div>
</div>

