<ion-content class="bg-general-class" *ngIf="!crear">
  <ion-item style="padding: 16px;">
    <ion-col size="8">
      Restar racimos:
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-toggle color="primary" [(ngModel)]="showResta"></ion-toggle>
    </ion-col>
  </ion-item>
  <ion-row>
    <ion-col size='2'>
    </ion-col>
    <ion-col size='8'>
      <h5 style="text-align: center;" [ngClass]="{'text-rojo':showResta, 'text-verde': !showResta}">
        {{!showResta?'Sumando...':'Restando...'}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- caja: 37.48 Lb -->
    <ion-col size="4" *ngIf="cajas.listado_cajas['37.48']">
      <ion-card (click)="itemOperador(showResta,'37.48')" class="cuadro-color io-bg-blanco">
        <h3> 37.48 Lb</h3>
        <h2>{{cajas.listado_cajas['37.48'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 41.5 Lb -->
    <ion-col size="4" *ngIf="cajas.listado_cajas['41.5']">
      <ion-card (click)="itemOperador(showResta,'41.5')" class="cuadro-color io-bg-blanco">
        <h3> 41.5 Lb</h3>
        <h2>{{cajas.listado_cajas['41.5'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 43.0 Lb -->
    <ion-col size="4" *ngIf="cajas.listado_cajas['43.0']">
      <ion-card (click)="itemOperador(showResta,'43.0')" class="cuadro-color io-bg-blanco">
        <h3> 43.0 Lb</h3>
        <h2>{{cajas.listado_cajas['43.0'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- rechazo -->
    <ion-col size="8">
      <ion-card class="cuadro-color" color="medium" (click)="itemOperador(showResta, '',true)">
        <h3>Segunda</h3>
        <h2>{{cajas.caja_segunda['50'] | number}}</h2>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card color="light" class="cuadro-color" style="color: #000;">
        <h3>Total</h3>
        <h2>{{cajas.total_cajas | number:'1.0-0'}}</h2>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-grid>

    <ion-row style="margin-top: 10px;">
      <ion-col size="6">
        <ion-button expand="full" class="boton-general" (click)='regresar()'>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" class="boton-general" type="submit" (click)='presentModal()'>
          GUARDAR
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-content class="bg-general-class" *ngIf="crear && seleccion">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <h3 style="color: #31A833;">Seleccione la orden de corte que se desea procesar</h3>
    <ion-item *ngFor="let orden of listado; let i=index">
      <ion-row class="ion-padding" style="width: 100%;">
        <ion-col size="12" (click)="seleccionOrdenCorte(orden.id)">
          <ion-row>
            <ion-col size="12">
              <h5 style="color: #31A833;">{{orden.finca_id}}</h5>
              <h4 style="margin-top: 0px;">{{orden.cantidad}} / {{orden.embarque_id.marca_caja_id}}</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <p>{{orden.fecha_corte|date}} </p>
            </ion-col>
            <ion-col size="4">
              <p> Semana {{orden.semana}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <p>Orden: {{orden.id}}</p>
            </ion-col>
            <ion-col size="4">
              <p>{{orden.calificador_id}}</p>
            </ion-col>

          </ion-row>

        </ion-col>
      </ion-row>
    </ion-item>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="regresar()">
        <ion-icon name="arrow-back-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-content class="bg-general-class" *ngIf="crear && !seleccion">

  <ion-item style="padding: 16px;">
    <ion-col size="8">
      Restar racimos:
    </ion-col>
    <ion-col size="4" style="text-align: right;">
      <ion-toggle color="primary" [(ngModel)]="showResta"></ion-toggle>
    </ion-col>
  </ion-item>
  <ion-row>
    <ion-col size='2'>
    </ion-col>
    <ion-col size='8'>
      <h5 style="text-align: center;" [ngClass]="{'text-rojo':showResta, 'text-verde': !showResta}">
        {{!showResta?'Sumando...':'Restando...'}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- caja: 31 Lb -->
    <ion-col size="4">
      <ion-card (click)="itemOperador(showResta,'31')" class="cuadro-color io-bg-blanco">
        <h3> 31 Lb</h3>
        <h2>{{cajas.listado_cajas['31'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 37.48 Lb -->
    <ion-col size="4">
      <ion-card (click)="itemOperador(showResta,'37.48')" class="cuadro-color io-bg-blanco">
        <h3> 37.48 Lb</h3>
        <h2>{{cajas.listado_cajas['37.48'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 40.5 Lb -->
    <ion-col size="4">
      <ion-card (click)="itemOperador(showResta,'40.5')" class="cuadro-color io-bg-blanco">
        <h3> 40.5 Lb</h3>
        <h2>{{cajas.listado_cajas['40.5'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 41.5 Lb -->
    <ion-col size="4">
      <ion-card (click)="itemOperador(showResta,'41.5')" class="cuadro-color io-bg-blanco">
        <h3> 41.5 Lb</h3>
        <h2>{{cajas.listado_cajas['41.5'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 42.0 Lb -->
    <ion-col size="4">
      <ion-card (click)="itemOperador(showResta,'42')" class="cuadro-color io-bg-blanco">
        <h3> 42 Lb</h3>
        <h2>{{cajas.listado_cajas['42'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- caja: 43.0 Lb -->
    <ion-col size="4">
      <ion-card (click)="itemOperador(showResta,'43.0')" class="cuadro-color io-bg-blanco">
        <h3> 43.0 Lb</h3>
        <h2>{{cajas.listado_cajas['43.0'] | number}}</h2>
      </ion-card>
    </ion-col>
    <!-- rechazo -->
    <ion-col size="8">
      <ion-card class="cuadro-color" color="medium" (click)="itemOperador(showResta, '',true)">
        <h3>Segunda</h3>
        <h2>{{cajas.caja_segunda['50'] | number}}</h2>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card color="light" class="cuadro-color" style="color: #000;">
        <h3>Total</h3>
        <h2>{{cajas.total_cajas | number:'1.0-0'}}</h2>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-grid>

    <ion-row style="margin-top: 10px;">
      <ion-col size="6">
        <ion-button expand="full" class="boton-general" (click)='back()'>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" class="boton-general" type="submit" (click)='enviarResultados()'>
          GUARDAR
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>