<div style=" margin-top: 2px;height: 60px; padding: 10px;" class="row bg-4">
  <div class="col-md-5">
    <h3 class="titulo-pag" > {{fnNombre()}}  </h3>
    <!--
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page"> 
               <span>
                  Inicio
               </span> 
              </li>
          </ol>
        </nav>

    -->
      
  </div>
  <div class="col-md-2">

  </div>
  <div class="col-md-5">
      <div class="border-1">
          <h3 class="titulo t-p">Bienvenido a Multum </h3>        
      </div>
      
  </div>

</div>
