.breadcrumb{
    margin-bottom: 5px;
    background-color: #fff0!important;
    .breadcrumb-item{
        color: #1b5e2040;
        font-size: 16px;
        font-weight: 400;
    }
    .active{
        font-size: 16px;

        span{
            color: #fff;
               padding: 5px;
               border-radius: 3px;
               background-color: #1B5E20;
               box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #88c142;
            }
        
    }
}

.border-1{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 100px;
    //margin-top: 10px; 
    padding-left: 15px;
    .titulo{
        text-align: center;
        font-weight: 500;
    }
}
.titulo-pag{
    font-weight: 600;
    font-size: 28px;
    color: #fff; 
}

@media (max-width: 770px) {
    .titulo.t-p{
        display: none;
    }
}
