<ion-content id='contenido'>
    
    <div id='marco'>
      <ion-card class="welcome-card" *ngIf="showGraficos.enfunde" >
        <ion-card-header>
          <!-- <ion-card-subtitle>Enfunde por semana</ion-card-subtitle> -->
          <ion-card-title>Enfundes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #EnfundeChart></canvas>
        </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card" *ngIf="showGraficos.inventarioFinal">
        <ion-card-header>
         <!--  <ion-card-subtitle>Inventario por semana</ion-card-subtitle> -->
          <ion-card-title>Inventarios</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #inventarioChart></canvas>
        </ion-card-content>
      </ion-card>
    
      <ion-card class="welcome-card" *ngIf="showGraficos.cosecha">
        <ion-card-header>
          <!-- <ion-card-subtitle>Cosecha por Semana</ion-card-subtitle> -->
          <ion-card-title>Cosecha</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #cosechaChart></canvas>
        </ion-card-content>
      </ion-card>
    
      <ion-card class="welcome-card" *ngIf="showGraficos.caja">
        <ion-card-header>
          <!-- <ion-card-subtitle>Caja por Semana</ion-card-subtitle> -->
          <ion-card-title>Cajas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #cajasChart></canvas>
        </ion-card-content>
      </ion-card>
    
      <ion-card class="welcome-card" *ngIf="showGraficos.ratio">
        <ion-card-header>
          <!-- <ion-card-subtitle>Ratio por Semana</ion-card-subtitle> -->
          <ion-card-title>Ratio</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #ratioChart></canvas>
        </ion-card-content>
      </ion-card>
  
      <ion-card class="welcome-card" *ngIf="showGraficos.ratio">
        <ion-card-header>
          <!-- <ion-card-subtitle>Tendencia por Semana</ion-card-subtitle> -->
          <ion-card-title>Tendencia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #tendenciaChart></canvas>
        </ion-card-content>
      </ion-card>
    
      <ion-button expand="full"  class="boton-general" (click)="salir()">
        Cancelar
      </ion-button>
    </div>
    
</ion-content>



 
  
  <!-- 
    <ion-button (click)='pantallaCss()'>
      rotar pantalla 
    </ion-button>
    
<ion-list-header color="light">
    Vertical Bar Chart
  </ion-list-header>
    

    <p>{{mensajeOrientacion}}</p>
  <p>{{orientacionTipo}}</p>
  <ion-item>
    <ion-label position="floating">Cinta</ion-label>
    <ion-select  [(ngModel)]="orientacion"nterface="action-sheet" mode='ios' cancelText='Cancelar' (ionChange)="pantalla()">
      <ion-select-option [value]='orientacionSelec.LANDSCAPE'> LANDSCAPE</ion-select-option>
      <ion-select-option [value]='orientacionSelec.LANDSCAPE_PRIMARY'> LANDSCAPE_PRIMARY</ion-select-option>
      <ion-select-option [value]='orientacionSelec.LANDSCAPE_SECONDARY'> LANDSCAPE_SECONDARY</ion-select-option>
      <ion-select-option [value]='orientacionSelec.PORTRAIT'> PORTRAIT</ion-select-option>
      <ion-select-option [value]='orientacionSelec.PORTRAIT_PRIMARY'> PORTRAIT_PRIMARY</ion-select-option>
      <ion-select-option [value]='orientacionSelec.PORTRAIT_SECONDARY'> PORTRAIT_SECONDARY</ion-select-option>
      <ion-select-option [value]='orientacionSelec.ANY'> ANY</ion-select-option>
    </ion-select>
  </ion-item>

  -->