<!-- <app-header titulo='estimado'>

</app-header> -->

<ion-content class="ion-padding bg-general-class" *ngIf="!lista">
  <div class="ion-text-titulo">
    <h1>{{titulo}}</h1>
  </div>

  <form [formGroup]="estimadoForm" (ngSubmit)="onSubmit()" > <!-- style="padding-bottom: 5%;padding-top: 5%;" -->
    <ion-list class="oi-list-form" > <!-- style="padding-top: 10%;padding-bottom: 10%; margin-bottom: 10px;background-color: transparent;"-->
      <ion-item>

        <ion-label position="floating">Finca</ion-label>
        <ion-select formControlName="finca" interface="action-sheet" mode='ios' cancelText='Cancelar'>
          <ion-select-option *ngFor="let finca of listFincas" [value]='finca.id'>{{finca.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Fecha</ion-label>
              <ion-datetime class="oi-pb-1"  (ionChange)="buscarEnfunde()" displayFormat="DD-MM-YYYY" [min]="minDate"
                [max]="maxDate" formControlName="fecha" cancelText='Cancelar' doneText="Listo"></ion-datetime>
            </ion-item> <!-- -->
          </ion-col>
          <ion-col size="6" >
            <ion-item >
              <ion-label position="floating">Semana Ingresada</ion-label>
              <ion-input type="number" formControlName="sem_ingresada"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Año </ion-label>
              <ion-input type="number" name="anio" formControlName="anio" min="1" pattern="^[0-9]+"></ion-input>
            </ion-item>
            
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Semana Estimada</ion-label>
              <ion-input type="number" name="semana" formControlName="sem_estimada"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-item>
          <ion-label position="floating">Estimado</ion-label>
          <ion-input type="number" name="cantidad" formControlName="estimado_cajas"></ion-input>
        </ion-item>
      </ion-grid>
      

    </ion-list>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)="back()" title="holaaa">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" [disabled]="estimadoForm.invalid">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    

  </form>
</ion-content>

<ion-content *ngIf="lista" class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  
  <ion-list class="ion-padding" style="background-color: transparent;">
    
    <ion-item *ngIf="!carga && listado.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>

    <ion-item *ngFor="let estimado of listado; let i=index" (click)="editar(estimado.id, estimado.bloqueado)" >
        <ion-grid >
          <ion-row class="ion-padding-top"> 
            <ion-col size="10">
              <h4 style="color: #31A833;">{{estimado.finca_id.nombre}}</h4>
            </ion-col>
            <ion-col size="2" style="text-align: right;">
              <ion-icon *ngIf="estimado.bloqueado" name="lock-closed-sharp" ></ion-icon> <!-- style="zoom:1.2" -->
            </ion-col>
          </ion-row>
          <ion-row> 
            <ion-col size="6">
              <h4 style="margin-top: 0px;">Estimado: {{estimado.cantidad}}</h4>
            </ion-col>
            <ion-col size="6" class="item-list-semana">
              Semana {{estimado.semana}}
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="get_requisitos()"> <!-- addEstimado --> 
        <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentModal()">
        <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<!--
        <ion-icon *ngIf="!estimado.bloqueado" name="create-outline" size="small" slot="end" (click)="editar(estimado.id)"></ion-icon>
      <ion-icon *ngIf="!estimado.bloqueado" name="trash-outline" size="small" slot="end" color="danger" (click)="delete(estimado.id)"></ion-icon>
      -->



