<!-- <app-header titulo='Inicio'>

</app-header> -->
<ion-content class="bg-general-class">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-padding-start ion-padding-top" color="verdeheader">
        <h3>
          Bienvenido, {{nombre}} 2
        </h3>
      </ion-col>
    </ion-row>
    <ion-row class="cardGeneral" style="padding-bottom: 0px !important;">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card ion-align-items-center" (click)="seleccion('/main/tabs/tab2/estimado')">
          <ion-icon name="copy-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center" >
            Estimado
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-end pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/ordendecorte')">
          <ion-icon name="crop" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Orden de corte
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="cardGeneral">
      <ion-col size="6" class="ion-padding-start pd-5" >
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/enfunde')">
          <ion-icon name="cube-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Enfunde
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-end pd-5" >
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/calibraje')">
          <ion-icon name="analytics" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Calibración
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="b_resumenSem"> <!-- style="padding-top: 10%;" -->
      <ion-col size="10" class="ion-padding-start" style="padding-left: 10%; color: #BCBFBC; padding-top: 14px;">
        Resumen de la semana
      </ion-col>
      <ion-col size="2">
        <ion-button  class="main-button" color='light' (click)="consultaReatardo()">
          <ion-icon slot="icon-only"
          name="refresh-outline" color="verdeheader">
          </ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col size="12" class="ion-padding-start ion-padding-end">
        
        <ion-card class="carddown" style="color: black;">
          <ion-row>
            <ion-col size="6" class="ion-text-left" >Enfunde:</ion-col>
            <ion-col size="6" class="ion-text-left" >{{datosResumen.sem_enfunde}}</ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="6" class="ion-text-left">Calibraje:</ion-col>
            <ion-col size="6" class="ion-text-left">{{datosResumen.sem_calibraje}}</ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="6" class="ion-text-left">Estimados:</ion-col>
            <ion-col size="6" class="ion-text-left">{{datosResumen.sem_estimado}}</ion-col> 
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="6" class="ion-text-left">Orden de Corte:</ion-col>
            <ion-col size="6" class="ion-text-left">{{datosResumen.sem_orden}}</ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
