
<div style="background: #ffffff; border-radius: 20px 20px; border: solid #19881fba 5px;" >
  <div class="login-box">

    <div class="logo" style=" background-color: #98d2501c;">
   
    <img src="{{contantes.API_WebUrl}}/assets/img/multum-logo.png" style="width: 360px; height: 160px;"/>
          
    </div>
  
  
    <router-outlet></router-outlet>
  
    
  
    <div class="row" style="padding: 0px 10px;">
        <div class="col-12 text-center footer-info">
            <small>&copy; 2020 MultumMaster. <b>Version</b> 0.0.0.2 </small>
        </div>
    </div>
    
  </div>
</div>
