<!-- <app-header titulo='enfunde'>

</app-header> -->

<ion-content class="ion-padding bg-general-class" *ngIf="!lista">
  <div class="ion-text-titulo">
    <h1>{{titulo}}</h1>
  </div>

  <form [formGroup]="enfundeForm" (ngSubmit)="onSubmit()"> <!-- style="padding-bottom: 5%;padding-top: 5%;"-->
    <ion-list class="oi-list-form" > <!-- style="padding-top: 10%;padding-bottom: 10%;margin-bottom: 10px;" -->
      <ion-item>
        <ion-label position="floating">Finca</ion-label>
        <ion-select formControlName="finca" interface="action-sheet" mode='ios' cancelText='Cancelar'>
          <ion-select-option *ngFor="let finca of listFincas" [value]='finca.id'>{{finca.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime formControlName="fecha" type="text" displayFormat="DD-MM-YYYY" [min]="minDate" [max]="maxDate"
          cancelText='Cancelar' doneText="Listo" required (ionChange)="buscarEnfunde()"></ion-datetime>
      </ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Año</ion-label>
              <ion-input type="number" name="cantidad" formControlName="ano" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item > <!--class="oi-pb-1"  -->
              <ion-label position="floating">Semana</ion-label>
              <ion-input type="text" name="semana" formControlName="semana" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" class="ion-no-padding">
            <ion-item>
              <ion-label position="floating">Cinta</ion-label>
              <ion-select formControlName="cinta" interface="action-sheet" mode='ios' cancelText='Cancelar' disabled>
                <ion-select-option value='cafe'>Café</ion-select-option>
                <ion-select-option value='plomo'>Plomo</ion-select-option>
                <ion-select-option value='verde'>Verde</ion-select-option>
                <ion-select-option value='amarillo'>Amarillo</ion-select-option>
                <ion-select-option value='rojo'>Rojo</ion-select-option>
                <ion-select-option value='azul'>Azul</ion-select-option>
                <ion-select-option value='negro'>Negro</ion-select-option>
                <ion-select-option value='violeta'>Violeta</ion-select-option>
                <ion-select-option value='blanco'>Blanco</ion-select-option>
                <ion-select-option value='lila'>Lila</ion-select-option>
                <ion-select-option value='naranja'>Naranja</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4" class="ion-no-padding">

            <div class="io-color io-bg-{{enfundeForm.value.cinta}}">

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-radio-group  formControlName="tipo">
          <ion-list-header>
            <ion-label>Tipo: </ion-label>
          </ion-list-header>
          <ion-item lines='none' *ngFor="let item of listTipoEnfunde">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-radio  slot="start" [value]="item.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" name="cantidad" formControlName="cantida"></ion-input>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)="back()">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" [disabled]="enfundeForm.invalid">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-content *ngIf="lista" class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <ion-item *ngIf="!carga && listado.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>
    <ion-item *ngFor="let enfunde of listado; let i=index" (click)="editar(enfunde.id)">
      <ion-grid>
        <ion-row>
          <ion-col size="3" size-sm="2" size-md="1">
            <div class="circulo-color io-bg-{{enfunde.cinta_id.color}}">
              {{enfunde.cantidad}}
            </div>
          </ion-col>
          <ion-col size="9" size-sm="10" size-md="11">
            <h3 style="color: #31A833;">{{enfunde.finca_id.nombre}}</h3>
            <ion-row> 
              <ion-col size='7'> {{enfunde.tipo_enfunde_id.nombre}} </ion-col>
              <ion-col size='5' class="item-list-semana"> Semana: {{enfunde.semana}} </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="get_requisitos('add')"> <!--   addEnfunde-->
        <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="get_requisitos('filtro') "> <!-- presentModal() -->
        <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="get_requisitos('Estadis') "> <!-- presentModal(true)  mostrarEstadisticas()-->
        <ion-icon name="bar-chart-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- 
          <ion-row>
          <ion-col size="12" class="ion-text-uppercase">
            <h3 style="color: #31A833;">{{enfunde.finca_id.nombre}}</h3>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col size="2" class="ion-no-padding">

            <div style="border-radius: 50%;" class="io-color io-bg-{{enfunde.cinta_id.color}}">

            </div>
          </ion-col>
          <ion-col size="10" class="ion-text-capitalize">
            <h2 style="margin-top: 2% !important; margin-bottom: 2% !important; width: max-content;">{{enfunde.cantidad}} {{enfunde.cinta_id.color}}</h2>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{enfunde.tipo_enfunde_id.nombre}}&nbsp; &nbsp;Semana {{enfunde.semana}}</p>
          </ion-col>
        </ion-row>

         <ion-row class="ion-padding-bottom ion-padding-top">
        <ion-col size="12">
          
          
          

        </ion-col>
      </ion-row>

        -->
         <!-- 
        <ion-icon name="create-outline" size="small" slot="end" (click)="editar(enfunde.id)"></ion-icon>
      <ion-icon name="trash-outline" size="small" slot="end" color="danger" (click)="delete(enfunde.id)"></ion-icon>
      -->

