.ui-bgTgray{
    //background-color: rgba(148, 176, 173, 0.30) !important; 
    background-color: #f7ffec30!important; 
    margin: 0px 0px 10px 0px;
  }
  .ui-ico-primary{
    //color: #fff!important;
    font-size: 22px;
    margin: 5px;
    background-color: #19881f;
    padding: 5px;
    border-radius: 5px;
    color: #fff!important;
  }
  .color-primary{
    color: #19881f!important;
  }
  /* ui CCh */
  .img-profile{
    border-radius: 50%;
  }
  .cont-subhead{
    background-color: #88C142; 
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;   
    margin-bottom: 10px;
  }
  .ui-iconNum{
    margin-left: -8px;
  }

mat-form-field{
    width: 80%;
    color: #000;
}
