<div class="card ui-bgTgray">
  <div class="body" style="color: #fff;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4 class="text-center color-primary" style="font-size: 32px;
      font-weight: bold;"> Login</h4>
      <div class="row clearfix">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-addon " >
              <i class="material-icons ui-ico-primary">person</i>
            </span>
              <mat-form-field> <!-- [color]="warn" -->
                <input
                  matInput
                  name="userNameOrEmailAddress"
                  formControlName="usuario"
                  placeholder="Nombre de usuario"
                  autocomplete="off"
                  required
                  maxlength="255"
                />
              </mat-form-field>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons ui-ico-primary">lock</i>
            </span>
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  name="password"
                  formControlName="clave"
                  placeholder="Clave"
                  required
                  maxlength="32"
                />
              </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7 ml-2">
          <p *ngIf="b_mensaje" class="text-danger"> {{mensaje}} </p>
          <!-- 
            <mat-checkbox name="rememberMe" [(ngModel)]="login.rememberMe">
             Recuerdame
          </mat-checkbox>
          -->
          
        </div>
        <div class="col-4" style="margin-bottom: 10px;">
        
          <button
            mat-flat-button
            type="submit"
            flex="15"
            [disabled]="loginForm.invalid"
            color="primary"
            
          > 
            LogIn
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
