<div class="main-content">
<div class="container-fluid">

    <subheader-bar></subheader-bar>


    <div class="row contentMultum">
        <div class="col-md-12">
            <div class="card card-plain">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h1> Éxito en la innovación </h1>
                            <p style="text-align: justify;">
                                Equapak ha logrado posicionarse en el mercado gracias a la unión y dedicación de
                                nuestros productores, logrando vender unas 20,000 cajas semanales, de las cuales el
                                70% son orgánicas y el resto (30%) son convencionales. Un 80% de nuestra producción
                                se vende en el Comercio Justo por ser una organización certificada por FLO
                                Internacional.
                            </p>
                        </div>
                        <div class="col-md-8">
                        <img src="{{contantes.API_WebUrl}}/assets/img/inicio.jpg" class="img-fluid" style="min-width: 96%; border-radius: 8px;
                        border: 1px solid #88C142;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>
