<ion-content *ngIf="b_lista" class="bg-general-class">
    <ion-progress-bar type="indeterminate" *ngIf="b_carga"></ion-progress-bar>
    <ion-item *ngIf="!b_carga && listado.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>
    <ion-list class="ion-padding" style="background-color: transparent;" *ngIf="!params.todos && !b_carga">
      <ion-item  *ngFor="let produccion of listado" (click)="ir(produccion)" >
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12" class="ion-text-uppercase">
                  <h3 style="color: #31A833;">{{produccion.finca}}</h3>
                </ion-col>
                <ion-col size="7">
                    <h3 class="ion-l-st">% Recobro: {{produccion.racimos.recobro}}% </h3>
                    <p>Año: {{produccion.anio}}</p>
                </ion-col>
                <ion-col size="5">
                    <h3 class="ion-l-st">Ratio: {{produccion.racimos.ratio}}</h3>
                    <p>Semana: {{produccion.semana}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-icon name="chevron-forward-sharp" slot="end" color='primary'></ion-icon>
        
      </ion-item> 
    </ion-list>
    <!-- Si la consulta es multiFinca-->
    <ion-list class="ion-padding" style="background-color: transparent;" *ngIf="params.todos && !b_carga">
      <div *ngFor="let list_item of listado; let i=index">
        <h3 *ngIf="list_item[i] != null" style="text-align: center; color: #31A833;"> Finca Nro {{i+1}}</h3>
        <ion-item  *ngFor="let produccion of list_item" (click)="ir(produccion)" >
          <ion-grid fixed>
              <ion-row>
                  <ion-col size="12" class="ion-text-uppercase">
                    <h3 style="color: #31A833;">{{produccion.finca}} 0</h3>
                  </ion-col>
                  <ion-col size="7">
                      <h3 class="ion-l-st">% Recobro: {{produccion.racimos.recobro}}% </h3>
                      <p>Año: {{produccion.anio}}</p>
                  </ion-col>
                  <ion-col size="5">
                      <h3 class="ion-l-st">Ratio: {{produccion.racimos.ratio}}</h3>
                      <p>Semana: {{produccion.semana}}</p>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <ion-icon name="chevron-forward-sharp" slot="end" color='primary'></ion-icon>
        </ion-item> 
      </div>
    </ion-list>
    
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button (click)="presentModal()">
          <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="presentModal(true)"> <!--   mostrarEstadisticas()-->
          <ion-icon name="bar-chart-outline" size="large" color="dark"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>

  <ion-content *ngIf="b_detalles"  class="bg-general-class"> 
    <app-resumen [produccion]='itemProduccion' (close)='closeDetalles($event)'></app-resumen>
  </ion-content>



  <!-- 
          <ion-icon name="create-outline" size="small" slot="end" ></ion-icon>
        <ion-icon name="trash-outline" size="small" slot="end" color="danger" ></ion-icon>
        -->

<!-- *ngFor="let  calibraje of listado; let i=index" -->
        <!-- 
          

          <ion-item > 
        <ion-row class="ion-padding-bottom ion-padding-top">
          <ion-col size="12">
            <ion-row>
              <ion-col size="12" class="ion-text-uppercase">
                <h5 style="color: #31A833;">La Patricia</h5>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="10" class="ion-text-capitalize">
                <h5 style="margin-top: 2% !important; margin-bottom: 2% !important;">%Recobro: 50%</h5>
              </ion-col>
              <ion-col size="2" class="ion-no-padding" >
                Ratio: 1.2
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <p style="width: 100%;">Año: 2020</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <p>Semana: 7 </p>
              </ion-col>
            </ion-row>
  
          </ion-col>
        </ion-row>
      </ion-item>

        -->
  