<ion-content *ngIf="b_lista" class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="b_carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <ion-item *ngFor="let cajas of listado; let i=index">
      <!-- 
        <ion-icon name="ellipse-sharp" class="ico-list text-verde"></ion-icon>
      -->
      <ion-grid fixed (click)="ir(cajas)">
        <ion-row>
          <ion-col size="12" class="ion-text-uppercase">
            <h4 style="color: #31A833;">{{cajas.finca}}</h4>
          </ion-col>
          <ion-col size="12">
            <h4 class="h4">{{cajas.cajas.total_cajas}} Cajas, {{cajas.cajas.caja_segunda['50']}} Segunda </h4>
          </ion-col>
          <ion-col size="7">
            Semana Corte: {{cajas.semana}}
          </ion-col>
          <ion-col size="5" style="text-align: right;">
            Orden: {{cajas.orden}} 
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- 
        <ion-buttons slot="end">
        <ion-icon name="create-outline" style="font-size: 18px;"></ion-icon>
        <ion-icon name="trash-outline" color="danger" style="font-size: 18px;"></ion-icon>
      </ion-buttons>
      -->
      
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="addCaja()"> <!-- (click)="addEstimado()" -->
        <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentModal()">
        <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-content *ngIf="b_detalles"  class="bg-general-class"> 
  <app-contador-cajas [produccion]='itemRacimo' [crear]='crear' (close)='closeDetalles($event)'></app-contador-cajas>
</ion-content>