/* You can add global styles to this file, and also import other style files */

/* colores */
/* #1B5E20 prymary in Material-io: Green:900 
   #B2FF59 accent in Material-io: LightGreen:A200
*/

/*Margin*/
.ml-b{
    margin-left: 10px;  
}
/* btns */
.btn-plus span{
    padding-top: 4px!important;
}
.btn-plus span i{
    font-size: 32px!important;
}
.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #1B5E20 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.btn-primary{
    background-color: #1B5E20!important;
}
.text-primary, .t-p {
    /* color: #1B5E20!important; */
    color: #31A833!important;
}

.btn-accent, .btn-secundary, .btn-2{
    background-color: #b2ff59!important; 
}
.text-accent, .t-accent {
    color: #b2ff59!important;
}

.btn-pdf{
    color: red;
    
}
.btn-pdf mat-icon{
    font-size:36px
}

/*
color menu: #d1ecb0
*/
.bg-primary, .bg-1{
    background-color: #19881f!important;  /* #1B5E20!important; */
}
.bg-secundary, .bg-2{
    background-color: #d1ecb0;
}
.bg-3{
    background-color: #c5e25a54!important;
}
.bg-4{
    background-color: #54b553; 
    /*background: linear-gradient(90deg, #a6eaa8d1 20%, #90F592 100%) !important; */
}

.ico-blanco{
    color: #fff!important;
}


.card-header.card-header-danger{
    height: 50px;
}

h3, h4, h5, h6{
    margin: 0px;
}

.breadcrumb{
    margin-bottom: 5px;
    background-color: #1b5e2040;
}
.breadcrumb .breadcrumb-item a{
    color: #1B5E20;
}

.imput-mini-btn .mat-button-wrapper {
    padding: 0px!important;
    display: inline-block;
    line-height: 24px;
}

/*inputs */
.input-error{
    color: #f44336!important;
}
/* para las paginas */
.main-panel .main-content {
    margin-top: 0px;
}

/* Tabla */ 
/* tolltip mensage paginator */

.cdk-overlay-container .mat-tooltip-panel mat-tooltip-component .mat-tooltip{
    background-color: #31A833;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #88c142;
    color: #fff !important;
}

#cdk-describedby-message-container{
    background-color: aqua;
}
#cdk-describedby-message-container #cdk-describedby-message-0{
    color: #fff;
}

mat-header-row.mat-header-row, .mat-table thead .mat-header-row{
   /* background-color: #ecf5e2; 
    background: linear-gradient(90deg, #a6eaa89e 100%, #beecbf 100%) !important; 
    background: linear-gradient(90deg, #c2f3c39e 100%, #beecbf 100%) !important;
    */
    background-color: #f0f0f0;
}
.mat-sort-header-button{
    color: #005900!important;
    font-size: 16px!important;
    font-weight: 400!important;
}

.row.contentMultum .col-md-12{
    padding: 0px;
}

.row.contentMultum .col-md-12 .parametros{
    padding: 0px 15px;
    margin-top: 10px;
}
.row.contentMultum .col-md-12 .filter{
    padding: 0px 15px;
}
tr.mat-row:hover, mat-table mat-row:hover {
    background: #c3e4c2;
}

/* Mat Table */
.mat-elevation-z8 {
    margin: 10px 0px!important;
}
table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.expanded{ /*.rowSelect */
    background-color: #1B5E20!important;
}
.expanded> mat-cell{ /*rowSelect */
    color: #fff;
}
.expanded> mat-cell .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(178, 255, 89);
}
.expanded> mat-cell .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: #b2ff59;
}

*/
/* Imput Rango  */
.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 18px!important;
    height: 18px!important;
    top: -7px!important;
    background-color: #124016!important;
    z-index: 3;
    border-radius: 16px;
}
.ng5-slider .ng5-slider-selection {
    z-index: 2;
    background: #1b5e20!important;
    border-radius: 2px;
}
.ng5-slider .ng5-slider-pointer:after {
    content: '';
    width: 6px!important;
    height: 6px!important;
    position: absolute;
    top: 6px!important;
    left: 6px!important;
    border-radius: 4px;
    background: #fff;
}
.ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background: #fff!important;
}

/*Modales */
.headerModal{
    background-color: #19881f; /* #1B5E20; */
    color: #fff;
    border-radius: 5px;
}

.text-number, .text-n{
    text-align: right!important;
}

/* Dropdowns */
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgba(27, 94, 32, 0.2), 0 7px 10px -5px rgb(226, 238, 184);
    background-color: #19881f;
    color: #FFFFFF;
}

/* Text */
.text-mat{
    font-size: 14px;
    color: #757575;
    font-weight: 500;
}

/* */
.mat-snack-bar-container {
    padding: 0px!important;
    min-height: 24px!important;
    background-color: #fff;
}

.spinner-load{
    display: flex!important;  
    justify-content: center;
    align-items: center; 
    box-shadow: none!important; 
}