<!-- <app-header titulo='Finca'>

</app-header> -->

<ion-content class="ion-padding bg-general-class" *ngIf="!lista">
  <div class="ion-text-titulo">
    <h1 class="oi-titulo">{{titulo}}</h1>
  </div>
  
  <form [formGroup]="fincaForm" (ngSubmit)="onSubmit()"> <!-- style="border-radius: 50px; padding-bottom: 5%;padding-top: 5%; " -->
    <ion-list class="oi-list-form"> <!-- style="padding-top: 10%;padding-bottom: 10%;border-radius: 50px; margin-bottom: 10px; background-color: transparent;" -->
      <ion-item>
        <ion-label position="floating" >Nombre</ion-label>
        <ion-input type="text" name="cantidad" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Área Total (hectáreas)</ion-label>
        <ion-input type="number" name="cantidad" formControlName="area_total"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Área Cultivada (hectáreas)</ion-label>
        <ion-input type="number" name="cantidad" formControlName="area_cultivada" (ionBlur)="areaTotal()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cajas por Semana</ion-label>
        <ion-input type="number" name="cantidad" formControlName="cajas_por_semana"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Código Magap</ion-label>
        <ion-input type="text" name="semana" formControlName="codigo_magap"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tipo Finca</ion-label>
        <ion-select formControlName="tipo_finca_id" interface="action-sheet" mode='ios' cancelText='Cancelar'>
          <ion-select-option *ngFor="let tipo of tipoFincas" [value]='tipo.id'>{{tipo.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Localidad</ion-label> <!-- Sector -->
        <ion-select formControlName="sector_id" interface="action-sheet" mode='ios' cancelText='Cancelar'>
          <ion-select-option *ngFor="let tipo of tipoSector" [value]='tipo.id'>{{tipo.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" (click)="back()">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  class="boton-general" type="submit" [disabled]="fincaForm.invalid">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
    
    
  </form>
  
</ion-content>

<ion-content *ngIf="lista" class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <ion-item *ngIf="!carga && fincas.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>
    <ion-item *ngFor="let finca of fincas" (click)="editar(finca.id)">
      
      <ion-grid >
        <ion-row class="ion-padding-top"> 
          <ion-col size="9">
            <h4 style="color: #31A833;">{{finca.nombre}}</h4>
          </ion-col>
          <ion-col size="3" style="text-align: right;">
            Código:
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col size="6">
            <h4 style="margin-top: 0px;">{{finca.tipo_finca_id.nombre}}</h4>
          </ion-col>
          <ion-col size="6" class="item-list-semana">
            {{finca.codigo_magap}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- 
        <ion-icon name="create-outline" size="small" slot="end" (click)="editar(finca.id)"></ion-icon>
      <ion-icon name="trash-outline" size="small" slot="end" color="danger" (click)="delete(finca.id)"></ion-icon>
      -->
      

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="addFinca()"><ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon></ion-fab-button>
      <!-- <ion-fab-button (click)="presentModal()"><ion-icon name="funnel-outline" size="large" color="dark"></ion-icon></ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>
</ion-content>





<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="funnel-outline" size="large" color="dark"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->