<!-- <app-header titulo='calificación'>

</app-header> -->

<ion-content class="ion-padding">
    <div class="ion-text-titulo">
        <h1>Califícanos y Coméntanos</h1>
        <h3 style='color: #6a6f64;'>Ayudanos a Mejorar el Servicio</h3>
    </div>
    



    <ion-list style="padding: 0px;">
        <ion-img src="./assets/img/estrellas.png"></ion-img>
        <h1 style="text-align: center; margin-top: 0px;">Funcionalidad</h1>
        <ion-item lines='none'>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsFuncion > 0}"
                (click)="fnPts(1,'fn')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsFuncion > 1}"
                (click)="fnPts(2,'fn')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsFuncion > 2}"
                (click)="fnPts(3,'fn')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsFuncion > 3}"
                (click)="fnPts(4,'fn')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsFuncion > 4}"
                (click)="fnPts(5,'fn')"></ion-icon>

        </ion-item>

        <h1 style="text-align: center;">Diseño</h1>
        <ion-item lines='none'>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsDiseno > 0}"
                (click)="fnPts(1,'ds')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsDiseno  > 1}"
                (click)="fnPts(2,'ds')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsDiseno  > 2}"
                (click)="fnPts(3,'ds')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsDiseno  > 3}"
                (click)="fnPts(4,'ds')"></ion-icon>
            <ion-icon name="star" [ngClass]="{'starCalificacion': true, 'starSelect': modelo.ptsDiseno  > 4}"
                (click)="fnPts(5,'ds')"></ion-icon>

        </ion-item>

        <h3 style="text-align: center; margin-top: 16px;">Comenta</h3>
        <ion-item>

            <ion-textarea [(ngModel)]="modelo.comentario"></ion-textarea>
        </ion-item>

        <ion-button expand='full' (click)="sendRanking()" style="margin-top: 10px;">
            Enviar
        </ion-button>
    </ion-list>

</ion-content>