<h1 mat-dialog-title  class="text-center headerModal">Seleccione los Estimados</h1>
<div mat-dialog-content>
  
    <!-- 
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Año" [(ngModel)]="anio">
            </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Semana Desde" [(ngModel)]="sem_desde">
            </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Semana Hasta" [(ngModel)]="sem_hasta">
            </mat-form-field>
        </div>
        <div class="col-md-3">
             <button mat-raised-button color="primary" (click)="filtrar()">
              <i class="material-icons">search </i>
           </button>
        </div>
    </div>
    -->
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="">
                <th>
                    #
                </th>
                <th>
                    Productor
                </th>
                <th>
                    Finca
                </th>
                <th>
                    Año
                </th>
                <th>
                    Semana
                </th>
                <th>
                    Estimado
                </th>
                <th>
                    Seleccionar
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let item of listado; let i=index">
                    <td>
                        {{(paginator.pageIndex * paginator.pageSize) + (i+1)}}
                    </td>
                    <td>
                        {{item.finca_id.productor_id}}
                    </td>
                    <td>
                        {{item.finca_id.nombre}}
                    </td>
                    <td>
                        {{item.anio}}
                    </td>
                    <td>
                        {{item.semana}}
                    </td>
                    <td>
                        {{item.cantidad}}
                    </td>
                    <td>
                        <mat-checkbox color="primary" [(ngModel)]='item.check' (change)='tomarEstimado(i, item, item.check)'></mat-checkbox> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <mat-paginator [length]="pagineo.length"
    [pageSize]="pagineo.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="actualizarPage($event)" > 
                
    </mat-paginator>


</div>
<div>

  
  <button mat-stroked-button color="primary" class="pull-right ml-b" [mat-dialog-close]="data"  cdkFocusInitial> <!-- (click)="data.confirm= true"-->
    Guardar
 </button>
 <button mat-stroked-button (click)="onNoClick()" color="primary" class="pull-right">Cancelar</button>
</div>
