<ion-content *ngIf="b_lista" class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="b_carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;" *ngIf="!params.todos && !b_carga">
    <ion-item *ngIf="!b_carga && listado.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>
    <ion-item *ngFor="let racimo of listado; let i=index">
      <ion-grid fixed (click)="ir('/main/tabs/tab2/racimo/contador-racimo/',racimo)">
        <ion-row>
          <ion-col size="12" class="ion-text-uppercase">
            <h4 style="color: #31A833;">{{racimo.finca}}</h4>
          </ion-col>
          <ion-col size="12">
            <h3 class="ion-l-st">{{racimo.racimos.total_racimos}} Racimos, {{racimo.racimos.total_racimos_rechazado}} Rechazados </h3>
          </ion-col>
          <ion-col size="7">
            <p>Semana Corte: {{racimo.semana}}</p>
          </ion-col>
          <ion-col size="5" style="text-align: right;">
            <p>Orden: {{racimo.orden}} </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- en caso de ser multiFinca-->
  <ion-list class="ion-padding" style="background-color: transparent;" *ngIf="params.todos && !b_carga">
    <div *ngFor="let list_item of listado; let i=index">
      <h3 *ngIf="list_item[i] != null" style="text-align: center; color: #31A833;"> Finca Nro {{i+1}}</h3>
      <ion-item *ngFor="let racimo of list_item; let i=index">
        <ion-grid fixed (click)="ir('/main/tabs/tab2/racimo/contador-racimo/',racimo)">
          <ion-row>
            <ion-col size="12" class="ion-text-uppercase">
              <h4 style="color: #31A833;">{{racimo.finca}}</h4>
            </ion-col>
            <ion-col size="12">
              <h3 class="ion-l-st">{{racimo.racimos.total_racimos}} Racimos, {{racimo.racimos.total_racimos_rechazado}} Rechazados </h3>
            </ion-col>
            <ion-col size="7">
              <p>Semana Corte: {{racimo.semana}}</p>
            </ion-col>
            <ion-col size="5" style="text-align: right;">
              <p>Orden: {{racimo.orden}} </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="addCaja()"> <!-- (click)="addEstimado()" -->
        <ion-icon name="add-circle-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentModal()">
        <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-content *ngIf="b_detalles"  class="bg-general-class"> 
  <app-contador-racimo [produccion]='itemRacimo' [crear]='crear' (close)='closeDetalles($event)'></app-contador-racimo>
</ion-content>