<ion-list>
  
  
  <!-- 
    <ion-item color="primary">
    <ion-label>Multum app</ion-label>
  </ion-item>
  <ion-item (click)="calificar()">
    <ion-label>Calificar</ion-label>
    <ion-icon slot="end" name="star" style="color: orange;"></ion-icon>
  </ion-item>
    <ion-item  lines='none' (click)="conexBack()">
    <ion-label>Prueba Back</ion-label>
    <ion-icon slot="end" name="alert" color="danger"></ion-icon>
  </ion-item>
  -->
  <ion-item  lines='none' (click)="misDatos()">
    <ion-label>Mis Datos</ion-label>
    <ion-icon slot="end" name="list-outline" color="primary"></ion-icon>
  </ion-item>
  <ion-item  lines='none' (click)="exit()">
    <ion-label>Salir</ion-label>
    <ion-icon slot="end" name="exit" color="primary"></ion-icon>
  </ion-item>
</ion-list>


