<h1 mat-dialog-title class="text-center headerModal"> 
     Nuevo Embarque
</h1>
<div mat-dialog-content>

  <form [formGroup]="embarqueForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='codigo_alterno' placeholder="Código">
        </mat-form-field>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Marca</mat-label>
          <mat-select formControlName='marca_caja_id'>
            <mat-option *ngFor="let item of listaMarcaCaja" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='fecha_embarque_desde' [matDatepicker]="dateDesde" placeholder="Escoja fecha desde" (dateChange)="buscarEnfunde(embarqueForm.value.fecha_embarque_desde)">
          <mat-datepicker-toggle matSuffix [for]="dateDesde"></mat-datepicker-toggle>
          <mat-datepicker #dateDesde ></mat-datepicker>
        </mat-form-field> 
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='fecha_embarque_hasta' [matDatepicker]="dateHasta" placeholder="Escoja fecha hasta" >
          <mat-datepicker-toggle matSuffix [for]="dateHasta"></mat-datepicker-toggle>
          <mat-datepicker #dateHasta ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4" style="padding-top: 10px;">
        <div class="row text-mat" >
          <div class="col-md-6">
            Año: {{busquedaAnio}}  
          </div> 
          <div class="col-md-6">
           Semana:  {{busquedaSemana}}  
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='peso' placeholder="Peso" class="text-number">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='largo' placeholder="Largo" class="text-number">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        
        

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName='calidad_minima' placeholder="Calidad Mínima" class="text-number">
            </mat-form-field> 
          </div>
          
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName='calidad_maxima' placeholder="Calidad Máxima" class="text-number">
            </mat-form-field>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='cantidad' placeholder="Cantidad" class="text-number">
        </mat-form-field> 
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName='precio' placeholder="Precio" type="number" class="text-number">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <div style="text-align: center;" class="text-mat">
          Calidad
        </div>
        <ng5-slider
          style="margin: 10px 0 15px;"
          [(value)]="embarqueForm.value.calidad_minima"
          [(highValue)]="embarqueForm.value.calidad_maxima"
          [options]="{
            floor: 0,
            ceil: 100,
            disabled: false,
            hideLimitLabels: true,
            hidePointerLabels: true
          }"
          [manualRefresh]="slidersRefresh"
          (click)="fn(embarqueForm.value.calidad_minima, embarqueForm.value.calidad_maxima)"
        ></ng5-slider>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Vapor</mat-label>
          <mat-select formControlName='vapor_id'>
            <mat-option *ngFor="let item of listaVapor" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Puerto de Salida</mat-label>
          <mat-select formControlName='puerto_salida_id'>
            <mat-option *ngFor="let item of listaPuerto" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label >Puerto Destino</mat-label>
          <mat-select formControlName='puerto_destino_id'>
            <mat-option *ngFor="let item of listaPuerto" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </div>

      
  </form>



</div>
<div > <!-- mat-dialog-actions -->
  
  <button mat-stroked-button color="primary" class="pull-right ml-b" (click)="onSubmit()"  [disabled]="embarqueForm.invalid"  cdkFocusInitial>  
    Guardar
 </button>
 <button mat-stroked-button color="primary" class="pull-right" (click)="onNoClick()">
  Cancelar
</button>
 <!-- 
   <button mat-button (click)="onNoClick()" color="warn">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" class="pull-right"  [disabled]="embarqueForm.invalid"  cdkFocusInitial>  
    Listo!!
 </button>
 -->
</div>


<!-- [mat-dialog-close]="data"  -->