<div class="main-content">
  <div class="container-fluid">
    <subheader-bar></subheader-bar>  
      <div class="row contentMultum">
          <div class="col-md-12">
            <div class="row parametros">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Año" [(ngModel)]="anio" name="item">
                      <mat-option *ngFor="let item of anios" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Semana Desde" [(ngModel)]="semDesde" type="number" (change)='filterSemana()'>
                    <mat-hint class="input-error">{{validSemDesde}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Semana Hasta" [(ngModel)]="semHasta" type="number" (change)='filterSemana()'>
                    <mat-hint class="input-error">{{validSemHasta}}</mat-hint>
                </mat-form-field>
            </div>
              <div class="col-md-3">
                <button mat-raised-button color="primary" (click)="filtrar()">
                  <i class="material-icons">search </i>
                </button>
                <button mat-icon-button color="primary" (click)='getListado(paginator.pageIndex, paginator.pageSize, todosDatos, true)'> 
                  <mat-icon>refresh</mat-icon>
              </button>
                <button mat-icon-button class="btn-pdf" (click)='generarPdf()'> 
                  <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="pull-right btn-plus" (click)="openDialog(nuevaData)">
                  <i class="material-icons">
                    add
                  </i>
                </button>
          
              </div>
            </div>
          
            <div class="row filter">
              <div class="col-md-6">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                  </mat-form-field>
              </div>
          </div>
          
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource" matSort>
          
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i=index">
                    {{ (dataSource.paginator.pageIndex * dataSource.paginator.pageSize) + (i+1)}} </mat-cell>
                </ng-container>
          
                <!-- Name Column -->
                <ng-container matColumnDef="codigo_alterno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.codigo_alterno}} </mat-cell>
                </ng-container>
          
                <!-- Weight Column -->
                <ng-container matColumnDef="fecha_embarque_desde">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Desde </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.fecha_embarque_desde  | date:'dd-MM-yyyy'}} </mat-cell>
                </ng-container>
          
                <!-- Weight Column -->
                <ng-container matColumnDef="fecha_embarque_hasta">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Hasta </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.fecha_embarque_hasta  | date:'dd-MM-yyyy'}} </mat-cell>
                </ng-container>
          
                <!-- Symbol Column -->
                <ng-container matColumnDef="semana">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Semana </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.semana}} </mat-cell>
                </ng-container>
          
                <!-- Symbol Column -->
                <ng-container matColumnDef="puerto_destino_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Puerto Destino </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.puerto_destino_id.nombre}} </mat-cell>
                </ng-container>
          
                <!-- Symbol Column -->
                <ng-container matColumnDef="vapor_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Vapor </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.vapor_id.nombre}} </mat-cell>
                </ng-container>
          
          
                <!-- Symbol Column -->
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let item; let i=index" (click)="$event.stopPropagation(); ">
                    <button mat-icon-button (click)="openDialog(item)" color='primary' [disabled]='item.finalizado'>
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openListEstimado(item)" class="btn-blue"  [disabled]='item.finalizado'><!-- #6aace0 -->
                      <mat-icon>directions_boat</mat-icon>
                    </button>
                    <button mat-icon-button [routerLink]="['/OrdenCorte', item.id]" color='primary'>
                      <mat-icon>crop</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
          
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
                  [cdkDetailRowTpl]="tpl">
                </mat-row>
              </mat-table>

              <!-- spinner is load, cargando-->
                    <mat-card *ngIf="isLoading" class="spinner-load">
                        <mat-progress-spinner 
                            color="primary" 
                            mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card>

              <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                        [pageSizeOptions]="pageSizeOptions"></mat-paginator>
              <!--
                <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="updateListado($event)"></mat-paginator>
                -->
            </div>
          
            <ng-template #tpl let-item>
              <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
               

                  <div class="row" style="margin: 5px 10px; ">
                    <div class="col-md-4">
                      <div> <b> Año: </b> {{item.anio}} </div>
                      <div> <b> Semana: </b> {{item.semana}} </div>
                      <div> <b> Marca Caja: </b> {{item.marca_caja_id}} </div>
                    </div>
                    <div class="col-md-4">
                      <div> <b> Peso: </b> {{item.peso}} </div>
                      <div> <b> Largo: </b> {{item.largo}} </div>
                      <div title="Mínimo/Máximo"> <b> Calidad: </b> {{item.calidad_minima}} / {{item.calidad_maxima}}</div>
                    </div>
                    <div class="col-md-4">
                      <div title="Actual/Deseada"> <b> Cantidad: </b> {{item.cantidad_actual==null?0:item.cantidad_actual}} / {{item.cantidad}} </div>
                      <div> <b> Precio: </b> $ {{item.precio}} </div>
                      <div> <b> Finalizado: </b> {{item.finalizado?'Finalizado':'En Trámite'}} </div>
                    </div>
                  </div>
          
              </div>
            </ng-template>
          
          </div>

      </div>

      <br>
      <div>
        <!-- 
          <button mat-raised-button color="primary" class="pull-right">
             Ver Grafica 
         </button>
        -->
        
      </div>



     
  </div>
</div>
