
<!-- 
  <ion-app>
  <ion-split-pane contentId="main-content">
    <app-menu></app-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
-->
<ion-app>
    <!-- 
      <app-menu></app-menu>
    -->
    
    <ion-router-outlet ></ion-router-outlet> <!--  id="main-content" -->
  
</ion-app>
