<!-- <app-header titulo='notificación'>

</app-header> -->

<ion-content class="ion-padding">

    <ion-list>
        <ion-list-header>
            <div class="ion-text-titulo">
                <h1>Eventos, alertas y Mensajes</h1>
               
              </div>
        </ion-list-header>


        <ion-item *ngFor="let noti of notificaciones">
            <ion-avatar slot="start">
                <img  [src]="noti.img">
            </ion-avatar>
            <ion-label>
                <h2>{{noti.origen}}</h2>
                <h3>{{noti.titulo}}</h3>
                <p>{{noti.mensaje}}</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon class="oi-ico-avatar" name='medkit' color="secondary"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>Multum</h2>
                <h3>Feria de Salud</h3>
                <p>Exámenes de hepatitis y diabetes</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./assets/img/fruta/banana.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Exportadora Equapak</h2>
                <h3>Embarque Semana 47.</h3>
                <p>Entrega de Cajas en Puerto de Guayaquil</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon class="oi-ico-avatar" name='briefcase' color="secondary"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>Multum</h2>
                <h3>Insumos</h3>
                <p>Entrega de urea por Magap, sabado 10 Noviembre</p>
            </ion-label>
        </ion-item>


    </ion-list>
    <ion-button expand="full"  class="boton-general" (click)="salir()">
        Cancelar
    </ion-button>

</ion-content>