ion-button {
   // box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0), 0 2px 2px 0 rgba(255, 255, 255, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
	ion-badge {
		position: absolute;
		top: -0.5rem;
		right: -0.2rem;
		opacity: 0.9;

		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}
.main-button{
    --box-shadow:none;
 }
 /*
 .sc-ion-buttons-md-s .button-has-icon-only.button-clear{
	--border-radius: 0;
 }
 */
 
 .oi-bt-noborder{
	--border-radius: 0!important;
 }

 .bg-class{
    --background: linear-gradient(90deg, rgba(49, 168, 51, 1) 0%,rgba(71, 245, 74, 1)   100%) !important;
  
}