<ion-header>
  <ion-toolbar color="blancoperla" slot="start">
    <ion-title class=" ion-margin-end" style="font-weight: bold; margin-right: 10%;" color="verdeheader" slot="secondary"> <!--ion-text-capitalize-->
      {{titulo}}
    </ion-title>
    
    <ion-buttons slot="end">
      
      <ion-button  class="main-button oi-bt-noborder" (click)="fnNotificaciones()">
        <ion-icon slot="icon-only"
                  name="notifications" color="verdeheader">
        </ion-icon>
        <ion-badge color="danger" *ngIf="notificaciones!=0">{{notificaciones}}</ion-badge>
      </ion-button>
      <ion-button  class="main-button" (click)="popUser($event)">
        <ion-icon slot="icon-only"
                  name="person" color="verdeheader">
        </ion-icon>
        
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<!--
  (click)="showCart()"
  <ion-buttons slot="end">
      
      <ion-badge color="primary">
        <ion-icon name="notifications"></ion-icon>12
      </ion-badge>
    </ion-buttons>
-->
<!-- 

-->