table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  /*
  mat-row.element-row:not(.example-expanded-row):hover {
    background: #88C142;
  }
  */
  mat-row.element-row:not(.example-expanded-row):hover {
    //background: #88C142; //background: #b2ff59;
    //background: linear-gradient(90deg, #c2f3c39e 100%, #beecbf 100%) !important;
    mat-cell.mat-cell button mat-icon.mat-icon{
      color: #1b5e20;
    }
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #000;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  