<div class="main-content">

  <div class="container-fluid">
    <subheader-bar></subheader-bar>
    <div class="row contentMultum">
      <div class="col-md-12">
        <div class="row parametros">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <button mat-icon-button color="primary" (click)='getListado(paginator.pageIndex, paginator.pageSize, todosDatos, true)'> 
              <mat-icon>refresh</mat-icon>
          </button>
            <button mat-icon-button class="btn-pdf" (click)='generarPdf()'> 
              <mat-icon>picture_as_pdf</mat-icon>
          </button>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>

            <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition"
                             -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 100px;"> No. </mat-header-cell>
              <mat-cell *matCellDef="let element; let i=index" style="max-width: 100px;">
                {{ (paginator.pageIndex * paginator.pageSize) + (i+1)}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="identificacion">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Ruc. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.identificacion}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="telefono">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="user">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fn_productor_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fincas </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element.fn_productor_id.length}}
                <button mat-icon-button aria-label="Example icon-button with a heart icon" color="accent">
                  <mat-icon class="ico-bg-2">remove_red_eye</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="persona_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ¿Aprobado? </mat-header-cell>
              <mat-cell *matCellDef="let item; let i=index" (click)="$event.stopPropagation(); ">
                <mat-slide-toggle class="example-margin" color="primary"
                  (click)="openConfirm(item.id, !item.persona_id[0])" [checked]="item.persona_id[0]">
                  <span *ngIf="item.persona_id[0]">Si </span>
                  <span *ngIf="!item.persona_id[0]">No</span>
                </mat-slide-toggle>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
              [cdkDetailRowTpl]="tpl">
            </mat-row>
          </mat-table>

          <!-- spinner is load, cargando-->
          <mat-card *ngIf="isLoading" class="spinner-load">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </mat-card>

          <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize" [pageSizeOptions]="pageSizeOptions">
          </mat-paginator> <!-- (page)="actualizarPage($event)"-->
        </div>

        <ng-template #tpl let-element>
          <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
            <mat-list>
              <h3 mat-subheader>Fincas <span *ngIf="element.fn_productor_id.length == 0">&nbsp; No hay Registro</span>
              </h3>
              <div class="row">
                <div class="col-md-4" *ngFor="let finca of element.fn_productor_id; let i=index">
                  <mat-list-item>
                    <mat-icon mat-list-icon color="primary">museum</mat-icon>
                    <h4 mat-line>Nombre: {{finca.nombre}}</h4>
                    <p mat-line> Codigo Magap: {{finca.codigo_magap}} </p>
                    <p mat-line> Area Total: {{finca.area_total}}, Area Cultivada: {{finca.area_cultivada}}. </p>
                  </mat-list-item>
                </div>
              </div>
            </mat-list>
          </div>
        </ng-template>

      </div>
    </div>

  </div>
</div>
 





<!--
  <div class="table-responsive">
    <table class="table table-hover">
        <thead class="">
            <th> #</th>
            <th>
              Ruc
            </th>
            <th>
                Nombre
            </th>
            <th>
              Telefono
            </th>
            <th>
                Correo 
            </th>
            <th>
                Fincas
            </th>
            <th>
                ¿Aprobado?
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of listado; let i=index">
                <td>
                    {{i +1 }}
                </td>
                <td>
                  {{item.identificacion}}
              </td>
                <td>
                    {{item.nombre}}
                </td>
                <td>
                    {{item.telefono}}
                </td>
                <td>
                    {{item.user}}
                </td>
                <td>
                    {{item.fn_productor_id.length}}
                </td>
                <td>
                    
                  
                  <mat-slide-toggle
                      class="example-margin"
                      color="warn"
                      [(ngModel)]="item.persona_id">
                      <span *ngIf="item.persona_id">Si </span>
                    <span *ngIf="!item.persona_id">No</span>
                  </mat-slide-toggle>
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->

<!-- Intentos de btn aprobar y desaprobar

   <input type="checkbox" name="" id="" (click)="$event.stopPropagation(); openConfirm(item.id, item.persona_id[0])"
                              [(checked)]="dataSource.data[i].persona_id[0]"> hola
   <div *ngIf="dataSource.data[i].persona_id[0]">
                                <button mat-icon-button aria-label="Example icon-button with a heart icon"
                                  (click)="openConfirm(item.id, item.persona_id[0])">
                                  <mat-icon>check_box</mat-icon>
                                </button>
                                Desaprobar
                              </div>
                              <div *ngIf="!dataSource.data[i].persona_id[0]">
                                <button mat-icon-button aria-label="Example icon-button with a heart icon"
                                  (click)="openConfirm(item.id, item.persona_id[0])">
                                  <mat-icon>block</mat-icon>
                                </button>
                                Aprobar
                              </div>

-->
