/*
ion-menu{
    ion-item,
    ion-list, .list-md,
    ion-content{
        --background: var(--dark-color);
        --ion-background-color: var(--dark-color);
        //background-image: url('../../../assets/img/back1.jpg');
        
        
    }
    ion-item{
        color: var(--text-color);
    }
    ion-icon{
        color: #21a3ee;
    }
}
*/
ion-menu{
    ion-item{
        font-size: 20px;
        color: var(--ion-color-primary);
    }
    ion-icon{
        font-size: 25px; 
        color: var(--ion-color-primary);
    }
}

.logo-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/back1.jpg');
    padding: 1.5em 0;
    min-height: 200px;
    .logo-profile__wrapper{
        text-align: center;
        color: var(--ion-color-primary);
        .logo-profile_img{
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }
        .logo-profile_title{
            font-size: 1.5rem;
            font-weight: normal;
            color: #fff;
            padding-top: 10px;
            text-shadow: 0 0 15px #505854, 0 0 10px rgba(33, 28, 28, 0.5);
        }
    }
}
