<ion-menu contentId="main-content" type="overlay">
  <div class="logo-profile">
    <ion-menu-toggle auto-hide="false">
      <div class="logo-profile__wrapper" routerLink='/main/configuracion' [routerDirection]="'root'">
        <img class="logo-profile_img" src="../../../assets/img/perfil/perfil.png" />
        <h3 class="logo-profile_title">Multum App</h3>

      </div>
    </ion-menu-toggle>
  </div>
  <ion-content>
    <ion-list color="primary">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines='none'>
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>