<div class="main-content">
    <div class="container-fluid">
        <subheader-bar></subheader-bar>  
        <div class="row contentMultum">
            <div class="col-md-12">
                <div class="row" *ngIf="!codEmbarque">
                    <div class="col-md-4">
        
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Embarque" aria-label="State" [(ngModel)]="searchText"
                                [matAutocomplete]="auto" [formControl]="selecEmbarqueForm" (change)="EmbarqueFilter(auto)">
                            <button mat-button *ngIf="b_searchText" matSuffix mat-icon-button aria-label="Clear"
                                (click)="eleminarSelect()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let item of filterEmbarque | async" [value]="item.id">
                                    <img class="example-option-img" aria-hidden
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/SVG_boat.svg/800px-SVG_boat.svg.png"
                                        height="25">
                                    <span>{{item.codigo_alterno}}</span> |
                                    <span><small>Año: {{item.anio}}</small></span> |
                                    <small>Semana: {{item.semana}}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
        
        
                    </div>
                    <div class="col-md-4">
                        <button mat-raised-button color="primary" (click)="search()">
                            <i class="material-icons">search </i>
                        </button>
                    </div>
                </div>
                <div class="row cabecera-info" *ngIf="codEmbarque && isLoaded">
                    <div class="col-md-8">
                            <div class="row" >
                                <button mat-mini-fab color="primary" [routerLink]="[ '/main/Embarque' ]" style="margin: 10px;">
                                    <mat-icon>arrow_back </mat-icon>
                                </button>
                                <div class="text-primary" style="line-height: 2; font-size: 1.2em; margin-left: 5px; margin: 10px;">
                                    Retornar a Embarque
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <button mat-mini-fab color="primary" class="pull-right btn-plus" style="margin: 10px;" (click)="openListEstimado(embarqueActual)" [disabled]='embarqueActual.finalizado'>
                            <i class="material-icons">
                                add
                            </i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <img src="https://img2.freepng.es/20180714/psi/kisspng-cargo-ship-drawing-clip-art-freight-forwarding-5b49e8a1361024.1700261415315703372215.jpg"
                            style="width: 200px; height: 100px;" class="img-thumbnail">
                    </div>
                    <div class="col-md-4 datos-mb-5">
                        <div> <b> Vapor: </b> {{embarqueActual.vapor_id.nombre}} </div>
                        <div> <b> Puerto de Salida: </b> {{embarqueActual.puerto_salida_id.nombre}}</div>
                        <div> <b> Puerto de Destino: </b> {{embarqueActual.puerto_destino_id.nombre}}</div>
                        <div> <b> Marca de Caja :</b> {{embarqueActual.marca_caja_id}}</div>
                    </div>
                    <div class="col-md-4">
                        <h4> Código: <b> {{embarqueActual.codigo_alterno}}</b></h4>
                        <div> <b>Año: </b> {{embarqueActual.anio}}<b style="margin-left: 10px;">Semana: </b>
                            {{embarqueActual.semana}}</div>
                        <div> <b>Actual/Cupo: </b> {{embarqueActual.cantidad_actual}} /
                            {{embarqueActual.cantidad}}</div>    
                        <div> <b> Estado:</b> {{embarqueActual.finalizado?'Finalizado':'En Trámite'}}</div>
                    </div>
                </div>
                <div class="mat-elevation-z8" *ngIf="codEmbarque && isLoaded">
                    <table mat-table [dataSource]="dataSource" matSort>
        
                        <!-- position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro </th>
                            <td mat-cell *matCellDef="let row; let i = index" style="width: 20px"> {{i+1}} </td>
                        </ng-container>
        
                        <!-- Productor Column -->
                        <ng-container matColumnDef="productor_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Productor </th>
                            <td mat-cell *matCellDef="let row" style="width: 200px"> {{row.finca_id.productor_id}} </td>
                        </ng-container>
        
                        <!-- Finca Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Finca </th>
                            <td mat-cell *matCellDef="let row" style="width: 150px"> {{row.finca_id.nombre}} </td>
                        </ng-container>
        
                        <!-- Anio Column -->
                        <ng-container matColumnDef="anio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
                            <td mat-cell *matCellDef="let row" style="width: 40px"> {{row.anio}} </td>
                        </ng-container>
        
                        <!-- Estimado Column -->
                        <ng-container matColumnDef="estimado_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimado </th>
                            <td mat-cell *matCellDef="let row" class="text-number"  style="padding-right: 30px; width: 50px;">
                                {{row.estimado_id}} </td>
                        </ng-container>
        
                        <!-- Cantidad Column -->
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden Corte </th>
                            <td mat-cell *matCellDef="let row; let i= index" style="width: 30px; padding: 0px 10px ;">
                                <mat-form-field class="example-full-width" style="width: 100px;"> <!-- style="max-width: 200px;" -->
                                    <input matInput [(ngModel)]="row.cantidad" (change)='sumaTotal(i, row.cantidad)'
                                        type="number" class="text-number" [disabled]='embarqueActual.finalizado'>
                                </mat-form-field>
                            </td>
                        </ng-container>
        
                        <!-- codigo_bodega Column 
                        <ng-container matColumnDef="codigo_bodega">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código Bodega </th>
                            <td mat-cell *matCellDef="let row" style="width: 140px;"> {{row.codigo_bodega}} </td>
                        </ng-container>
                        -->

                        <!-- codigo_bodega Column -->
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let row" style="width: 70px;">
                                <button mat-icon-button color="warn" (click)="eliminarOrden(false, row.id, false)" [disabled]='embarqueActual.finalizado'>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <!-- spinner is load, cargando-->
                    <mat-card *ngIf="isLoading" class="spinner-load">
                        <mat-progress-spinner 
                            color="primary" 
                            mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card>
                    <mat-paginator [length]="pagineo.length" [pageSize]="pagineo.pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="updateListado($event)"></mat-paginator>
                </div>
            </div>
        </div>
        <div *ngIf="codEmbarque && isLoaded">
            <button mat-raised-button  class="pull-right btn-finalizar" (click)='save(true)' [disabled]='savedisabled()'> 
                Finalizar
            </button>
            <button mat-raised-button color="primary" class="pull-right" (click)='save(false)' [disabled]='savedisabled()'>
                <mat-icon>save</mat-icon>
                Guardar
            </button>
        </div>

    </div>
</div>
