.cabecera-info b{
    color: #19881f;
    font-weight: bold;
}
.datos-mb-5 div{
    margin-bottom: 1px;
}
.btn-finalizar{
    background-color: black; 
    color: #fff;
    margin-left: 10px;
}
.btn-finalizar:disabled{
    background-color: 00000042; 
    margin-left: 10px;
    color: #00000042; 

}