<div>Hola mundo</div>
<ion-tabs>
  
  <ion-tab-bar slot="top" style="width: 100%; background-color: #EAE6CA;">
    <app-header titulo='{{titulo}}' style="width: 100%;">

    </app-header>  
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button class="tab" tab="tab1" (click)="onClick('home')">
      <ion-icon name="home" color="primary" *ngIf="home"></ion-icon>
      <ion-icon name="home" color="dark" *ngIf="!home"></ion-icon>
      <ion-label color="primary" *ngIf="home">Inicio</ion-label>
      <ion-label color="dark" *ngIf="!home">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab" tab="tab2" (click)="onClick('labores')">
      <ion-icon name="construct-outline" color="primary" *ngIf="labores"></ion-icon>
      <ion-icon name="construct-outline" color="dark" *ngIf="!labores"></ion-icon>
      <ion-label color="primary" *ngIf="labores">Labores</ion-label>
      <ion-label color="dark" *ngIf="!labores">Labores</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab" tab="tab3" (click)="onClick('perfil')">
      <ion-icon name="cog-outline" color="primary" *ngIf="perfil"></ion-icon>
      <ion-icon name="cog-outline" color="dark" *ngIf="!perfil"></ion-icon>
      <ion-label color="primary" *ngIf="perfil">Perfil</ion-label>
      <ion-label color="dark" *ngIf="!perfil">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>