<div class="main-content">
  <div class="container-fluid">
      <subheader-bar></subheader-bar>  

      <div class="row contentMultum">
          <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <!-- 
                        <h4>Seleccione opción: {{opcSelect}}</h4>
                      -->
                    <mat-form-field>
                      <mat-label>Seleccione opción a consultar:</mat-label>
                      <mat-select [(ngModel)]="opcSelect" name="food" >
                        <mat-option *ngFor="let item of opc" [value]="item.nombre" (click)="selectSubMenu(item.id)">
                          {{item.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                        <fieldset class="col-12 col-md-12 sobraMaterial" style="padding: 0px 10px;">
                          <legend>Desde</legend>
                          <div class="row">
                            <div class="col-md-8">
                              <mat-form-field>
                                <mat-label>Año</mat-label>
                                <mat-select [(ngModel)]="anioDesde" >
                                  <mat-option  [value]="2018">2018</mat-option>
                                  <mat-option  [value]="2019">2019</mat-option>
                                  <mat-option  [value]="2020">2020</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Semana" type="number" [(ngModel)]="semanaDesde">
                              </mat-form-field>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="col-md-4">
                        <fieldset class="col-12 col-md-12 sobraMaterial" style="padding: 0px 10px;">
                          <legend>Hasta</legend>
          
                          <div class="row">
                            <div class="col-md-8">
                              <mat-form-field>
                                <mat-label>Año</mat-label>
                                <mat-select [(ngModel)]="anioHasta" >
                                  <mat-option  [value]="2019">2019</mat-option>
                                  <mat-option  [value]="2020">2020</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Semana" type="number" [(ngModel)]="semanaHasta">
                              </mat-form-field>
                            </div>
                          </div>
          
                        </fieldset>
                      </div>
                      <div class="col-md-4">
                        <fieldset class="col-12 col-md-12 sobraMaterial" style="padding: 0px 10px;">
                          <legend>Buscar</legend>
                          <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                              <input type="text" [placeholder]="buscar" aria-label="Assignee" matInput [formControl]="myControl" [(ngModel)]="searchText" [matAutocomplete]="auto" (optionSelected)="itemSelected($event)" >
                              <button mat-button *ngIf="b_searchText" matSuffix mat-icon-button aria-label="Clear" (click)="eleminarSelect()">
                                <mat-icon>close</mat-icon>
                              </button>
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                  {{option.nombre}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            </div>
                            <div class="col-md-4" style="padding-top: 16px;">
                              <mat-checkbox  [checked]="myControl.disabled" color='primary'  style="margin-top: 16px;"
                              (change)="searchTodos()">Todos</mat-checkbox> <!-- (change)="myControl.disabled ? myControl.enable() : myControl.disable()"  [(ngModel)]="checkTodos" (click)="checkTodos()"-->
                            </div>
                          </div>
                        </fieldset>
                      </div>
                  </div>
                  <!-- {{valorDesde}}, sem: {{semanaDesde}}, {{valorHasta}}, sem: {{semanaHasta}},  --> 
                  <div class="row" style="margin-top: 16px;"> <!-- example-header  -->
                    
                    <!--
                      
                    
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                      <input type="text" placeholder="Nombre" aria-label="Assignee" matInput [formControl]="myControl" [(ngModel)]="searchText" [matAutocomplete]="auto" (optionSelected)="itemSelected($event)" >
                      <button mat-button *ngIf="b_searchText" matSuffix mat-icon-button aria-label="Clear" (click)="eleminarSelect()">
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option.name}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    </div>
                    <div class="col-md-4">
                    <br>
                      <mat-checkbox  [checked]="myControl.disabled" color='primary' 
                      (change)="searchTodos()">Todos</mat-checkbox> 
                    </div>
                    -->
                    <div class="col-md-8">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <button mat-raised-button color="primary" class="pull-right" (click)="search()">
                        <i class="material-icons">search </i>
                     </button>
                    </div>
                    <!--
                      <button mat-button (click)="verValor(auto)" color="primary">ver valor</button>
                      <button mat-button (click)="eleminarSelect()" color="danger">Eliminar</button>
                    -->
                   
                  </div>
                  
                  <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource" matSort >
                  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="asignadas">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Asignadas </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.asignadas}} </mat-cell>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="declaradas">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Declaradas </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.declaradas}} </mat-cell>
                      </ng-container>
              
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="rechazadas">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Rechazadas </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.rechazadas}} </mat-cell>
                      </ng-container>
              
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="faltantes">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Faltantes </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.faltantes}} </mat-cell>
                      </ng-container>
              
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="ingresadas">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ingresadas </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ingresadas}} </mat-cell>
                      </ng-container>
              
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="calidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Calidad </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.calidad}} </mat-cell>
                      </ng-container>
                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl" > 
                      </mat-row>                  <!--  (click)="selectRow(i, row, tpl)" [ngClass]="{'rowSelect': i == numRowSelect }" -->
                    </mat-table>
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                                      ></mat-paginator>
                  </div>
                  
                  <ng-template #tpl let-element>
                    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
              
                      <div class="table-responsive" style="padding: 0px 20px;">
                        <table class="table table-hover">
                          <thead class="">
                            <th>Nombre</th> 
                            <th>Orden de Corte</th> 
                            <th>Evaluación</th> 
                            <th>Longitud</th> 
                            <th>Dedos Caja</th> 
                            <th>Clusters Caja</th> 
                            <th>Tipo Pallet</th> 
                            <th>Dimensión Pallet</th> 
                            <th>Tipo Plástico</th> 
                            <th>Sellado</th> 
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of element.expand">
                              <td>{{item.nombredet}}</td> 
                              <td>{{item.ordendecorte}}</td> 
                              <td>{{item.evaluacion}}</td> 
                              <td>
                                Max: {{item.longitudminima}}, Min: {{item.longitudmaxima}}
                              </td>
                              <td>{{item.dedoscaja}}</td> 
                              <td>{{item.clusterscaja}}</td> 
                              <td>{{item.tipopallet}}</td> 
                              <td>{{item.dimensionpallet}}</td> 
                              <td>{{item.tipoplastico}}</td> 
                              <td>{{item.sellado}}</td>  
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      
                      
              
              
                    </div>
                  </ng-template>
                </div> 
                  
                  
              </div>
              
          </div>

      </div>
  </div>
</div>


<!-- Example: https://stackblitz.com/edit/angular-material2-expandable-rows-filter-pagination-sorting?file=app%2Ftable-example.html-->

<!-- 
          <div class="example-element-description" style='width: 100%;'>
              <mat-grid-list cols="10" rowHeight="2:1">
              <mat-grid-tile>Orden de Corte</mat-grid-tile> 
              <mat-grid-tile>Evaluación</mat-grid-tile> 
              <mat-grid-tile>Longitud Mínima</mat-grid-tile> 
              <mat-grid-tile>Longitud Máxima</mat-grid-tile> 
              <mat-grid-tile>Dedos Caja</mat-grid-tile> 
              <mat-grid-tile>Clusters Caja</mat-grid-tile> 
              <mat-grid-tile>Tipo Pallet</mat-grid-tile> 
              <mat-grid-tile>Dimensión Pallet</mat-grid-tile> 
              <mat-grid-tile>Tipo Plástico</mat-grid-tile> 
              <mat-grid-tile>Sellado</mat-grid-tile>                
            </mat-grid-list>          
          <div style="width: 100%" *ngFor="let item of element.expand"
         			 >
            <mat-grid-list cols="10" rowHeight="2:1" >
              <mat-grid-tile>{{item.ordendecorte}}</mat-grid-tile> 
              <mat-grid-tile>{{item.evaluacion}}</mat-grid-tile> 
              <mat-grid-tile>{{item.longitudminima}}</mat-grid-tile> 
              <mat-grid-tile>{{item.longitudmaxima}}</mat-grid-tile> 
              <mat-grid-tile>{{item.dedoscaja}}</mat-grid-tile> 
              <mat-grid-tile>{{item.clusterscaja}}</mat-grid-tile> 
              <mat-grid-tile>{{item.tipopallet}}</mat-grid-tile> 
              <mat-grid-tile>{{item.dimensionpallet}}</mat-grid-tile> 
              <mat-grid-tile>{{item.tipoplastico}}</mat-grid-tile> 
              <mat-grid-tile>{{item.sellado}}</mat-grid-tile>              
            </mat-grid-list>
          </div>
        </div>
      -->