  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  /*
  mat-row.element-row:not(.example-expanded-row):hover {
    background: #88C142;
  }
  */
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  
  fieldset {
    border-radius: 4px;
    background: #fff;
  }
  .sobraMaterial, .s-m{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  
  legend {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #1B5E20;
    font-size: 17px;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    width: auto;
  }
