<h1 mat-dialog-title>{{data.titulo}}</h1>
<div mat-dialog-content>
  <p>{{data.mensaje}}</p>
  
</div>
<div > <!-- mat-dialog-actions -->
  <button mat-stroked-button (click)="onNoClick()" color="primary">No, Cancelar</button>
  <button mat-stroked-button color="primary" class="pull-right" [mat-dialog-close]="data" (click)="data.confirm= true" cdkFocusInitial>
    Si
 </button>
 
</div>