/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




.ion-text-titulo, .oi-t-t{
    width: 100%;
    text-align: center;
    .oi-titulo, h1{
        margin: 10px 0px;
    }
}
.oi-colorb-primary, .oi-cb-p{
    background-color:#31a833;//  #88C142;
    color: white;
}
.oi-ico-avatar, .oi-ico-a{
    font-size: 40px;
}
.oi-ct-center, .oi-ct-c{
    display: flex;
    justify-content: center;  
}
.oi-nospace-y{
    margin-top: 0px; margin-bottom: 0px;
    padding-top: 0px; padding-bottom: 0px;
}

h2{
    font-weight: 600!important;
}
h1{
    font-weight: bold!important; 
}

.subtitulo{
    color: #31A833;
    margin: 5px 10px;
    font-size: 18px;
}

/* Colores */

  /*text Cinta*/
  .ico-list{
    font-size: 38px;
    margin-right: 5px;
    }
    .t-primary, .t-p, .text-primary{
        color:  #31A833;
    }
    .text-verde{
        color: #31A833;
    }
  .text-blanco{
    color: #e4e1e1;
    //color: #000!important;
    }
    .text-amarillo{
        color: #ffce00;
    }
    .text-rojo{
        color: #f04141;
    }
    .text-azul{
        color: #308bc0;
    }
    .text-negro{
        color: #000;
    }
  /*Cierre text cinta */
.ion-ctex-medium, .ion-ct-m{
    color:  #f4f5f8;
}


h3, h4, h5, h6{
    margin-top: 0px; margin-bottom: 0px;
    padding-top: 0px; padding-bottom: 0px; 
}
ion-grid, ion-col{
    padding: 0px;
}
.ion-list-titulo, .ion-l-t, ion-item>ion-grid>h2{
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px; 
    font-weight: 600 !important;
}
.ion-list-subt, .ion-l-st, ion-item>ion-grid>h3{
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
/* reset espacios */
p{ // 16px
    margin: 0px;
}
.oi-pb-1{
    padding-bottom: 5px;
}

.bg-general-class{
    --background: linear-gradient(360deg, rgb(255, 255, 255) 40%,  #EAE6CA 80%) !important; // fondo degrado de la app
}

.boton-general{
    --background:white !important;
    --color-activated:white !important;
    --border-color:#BCBFBC;
    border: green($color: #000000);
      color: #31A833;
  }
//
.pd-5{
    padding: 5%;
}
@media (max-height: 640px){
    .pd-5{
        padding: 0%;
    } 
    .ion-padding-end{
        padding: 0px;
    }
    .ion-padding-top{
        padding-top: 5px;
    }
    .cardGeneral{
        margin: 0px 10px;
    }
}

.modal-wrapper{
    background: red($color: #000000);
}

ion-modal{
    --background: linear-gradient(360deg, rgb(255, 255, 255) 40%,  #EAE6CA 80%) !important;
}
ion-header{
    --background: linear-gradient(360deg, rgb(255, 255, 255) 40%,  #EAE6CA 80%) !important;
}
/* Espaciados*/
.space-sep{
    margin-top: 10px;
}

/*Backgroun */
.io-bg-blanco{
    background-color: #e4e1e1;
}
.io-bg-cafe{
    background-color: #6c3600;
}
.io-bg-plomo{
    background-color: #828282;
}
.io-bg-verde{
    background-color:  #31A833;
}
.io-bg-amarillo{
    background-color: #ffce00;
}
.io-bg-rojo{
    background-color:red;
    color: #fff;
}
.io-bg-azul{
    background-color: #308bc0;
}
.io-bg-negro{
    background-color: #000;
    color: #fff;
}
.io-bg-violeta{
    background-color: #4c2882;
}
.io-bg-lila{
    background-color: #B695C0;
}
.io-bg-naranja{
    background-color: rgb(253, 163, 104);
}
.bg-primary{
    background-color:  #31A833;
}
.circulo-color{
    margin: 5px 10px;
    padding: 15px 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* clases lista  */
.oi-list-form{
    padding-bottom: 5%;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: transparent;
}
.item-list-semana{
    color: gray; 
    text-align: right;
}
/*Responsive */
@media(max-width: 380px){
    
    .h4{
        font-size: 16px;    
    }
    ion-item{
        --padding-start: 5px; 
        --padding-end: 5px;
        --inner-padding-end: 0px;
    }
    ion-label{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
