<!-- <app-header titulo='Perfil'>

</app-header> -->
<ion-content class="bg-general-class">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-padding-start ion-padding-top" color="verdeheader">
        <h3>
          Bienvenido, {{nombre}} 
        </h3>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card ion-align-items-center" (click)="seleccion('/main/tabs/tab3/mis-datos')">
          <ion-icon name="person-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center" >
            Mis Datos
          </h4>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-padding-end pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab3/finca')">
          <ion-icon name="crop" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Fincas
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="6" class="ion-padding-start pd-5">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab3/notificaciones')">
          <ion-icon name="notifications-outline" class="icono"></ion-icon>
          <h4 class="ion-text-center" style="font-size: 14px;">
            Notificaciones
          </h4>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="6" class="ion-padding-end" style="padding: 5%;">
        <ion-card class="card" (click)="seleccion('/main/tabs/tab2/calibraje')">
          <ion-icon name="analytics" class="icono"></ion-icon>
          <h4 class="ion-text-center">
            Calibraje
          </h4>
        </ion-card>
      </ion-col> -->
    </ion-row>

    <!-- <ion-row style="padding-top: 10%;">
      <ion-col size="12" class="ion-padding-start" style="padding-left: 10%; color: #BCBFBC;">
        Resumen de la semana
      </ion-col>
      <ion-col size="12" class="ion-padding-start ion-padding-end">
        
        <ion-card class="carddown" style="color: black;">
          <ion-row>
            <ion-col size="6" class="ion-text-left" >Estimados :</ion-col>
            <ion-col size="6" class="ion-text-left" >140</ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="6" class="ion-text-left">Orden de corte :</ion-col>
            <ion-col size="6" class="ion-text-left">EQcA</ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="6" class="ion-text-left">Cajas entregadas :</ion-col>
            <ion-col size="6" class="ion-text-left">130</ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="6" class="ion-text-left">Facturacion por :</ion-col>
            <ion-col size="6" class="ion-text-left">950.75</ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
