.body{
    padding-left: 30;
    padding-right: 30;
}
.card{
    padding-top: 10%;
    height: 120px;
    background-color: #FFFF;
}
.icono{
    font-size: 50px;
    display: block;
    width: 100%;
    color: #31A833;
}

.carddown{
    padding: 10%;
}

h4{
    color: #31A833
}
h3{
    color: #31A833
}