.fondo{
    --background: linear-gradient(360deg, rgb(255, 255, 255) 40%,  #EAE6CA 80%) !important;
}

ion-content{
    --background: transparent !important;
}

ion-header{
    --background: transparent !important;
}