<!-- <ion-header style="background-color: blueviolet;">
  <ion-toolbar>
    <ion-title>Filtro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >

  <ion-row style="flex-direction: column;padding-top:20%; padding-left: 4%; padding-right: 3%;">
    <ion-col size="12">
      <h1 style="color: #31A833;">Filtro</h1>
    </ion-col>
  </ion-row>
  <ion-row class="" style="flex-direction: column; padding-left: 3%; padding-right: 3%;" >
    

    <ion-col size="12">
      <ion-item *ngIf="!parametros.showSelectGraf">
        <ion-label>Mostrar todas las fincas</ion-label>
        <ion-toggle [(ngModel)]="todos" color="verdeheader"></ion-toggle>
      </ion-item>

      <form [formGroup]="filtroForm" (ngSubmit)="onSubmit()">
        <ion-list style="padding-bottom: 2px;padding-bottom: 2px;">

          <ion-item *ngIf="parametros.showSelectGraf">
            <ion-label position="floating">Grafico</ion-label>
            <ion-select formControlName="grafico" interface="action-sheet" mode='ios' cancelText='Cancelar' (ionChange)='selectGraf()'  >
              <ion-select-option value='inventarioFinal'>Inventario Final</ion-select-option>
              <ion-select-option value='cosecha'>Cosecha</ion-select-option>
              <ion-select-option value='caja'>Caja</ion-select-option>
              <ion-select-option value='ratio'>Ratio</ion-select-option>
              <ion-select-option value='tendencia'>Tendencia</ion-select-option>
              <ion-select-option *ngIf="!parametros.showSelectGraf" value='none'></ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="!parametros.showSelectGraf">
            <ion-label position="floating">Finca </ion-label>
            <ion-select  formControlName="finca" interface="action-sheet" mode='ios' cancelText='Cancelar' [disabled]="todos"
              > <!-- -->
              <ion-select-option *ngFor="let finca of listFincas" [value]='finca.id'>{{finca.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Año</ion-label>
            <ion-select formControlName="ano" interface="action-sheet" mode='ios' cancelText='Cancelar' >
              <ion-select-option *ngFor="let anio of anios" [value]='anio'>{{anio}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-col size="6">
            <ion-item class="oi-pb-1">
              <ion-label position="floating">Semana desde</ion-label>
              <ion-input type="text" name="semanad" formControlName="fechaDesde"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="oi-pb-1">
              <ion-label position="floating">Semana hasta</ion-label>
              <ion-input type="text" name="semanah" formControlName="fechaHasta"></ion-input>
            </ion-item>
          </ion-col>
        </ion-list>

        <ion-row justify-content-center align-items-center>
          <ion-col size="6">
            <ion-button expand='full' strong class="boton-general" (click)="salir()">
              CANCELAR
            </ion-button>
          </ion-col>
          <ion-col size="6" justify-content-center align-items-center>
            <ion-button expand='full' strong class="boton-general" type="submit" [disabled]="filtroForm.invalid">
              APLICAR
            </ion-button>
          </ion-col>
        </ion-row>



      </form>
    </ion-col>

  </ion-row>

</ion-content>


<!-- 
  <ion-item>
            <ion-label position="floating">Año</ion-label>
            <ion-datetime class="oi-pb-1" displayFormat="YYYY" min="2018" [max]="ano_general" formControlName="ano"
              cancelText='Cancelar' doneText="Listo"></ion-datetime>
       
          </ion-item>
-->