<footer class="footer ">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Derechos Reservados a Sosnegsa,
            <a href="https://www.creative-tim.com" target="_blank">Multum Master</a>.
        </div>
    </div>
</footer>

<!-- 
    &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
-->
<!-- <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>-->