<!-- <app-header titulo='Orden de corte'>

</app-header> -->

<ion-content class="bg-general-class">
  <ion-progress-bar type="indeterminate" *ngIf="carga"></ion-progress-bar>
  <ion-list class="ion-padding" style="background-color: transparent;">
    <ion-item *ngIf="!carga && listado.length == 0">
      <ion-label color="primary">No tiene Registros</ion-label>
    </ion-item>
    <ion-item *ngFor="let orden of listado; let i=index">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h5 style="color: #31A833;">{{orden.finca_id}}</h5>
          </ion-col>
          <ion-col size="4" style="text-align: right;">
            <p>Orden: {{orden.id}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h4 style="margin-top: 0px;">{{orden.cantidad}} / {{orden.embarque_id.marca_caja_id}}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p>{{orden.fecha_corte|date}} </p>
          </ion-col>
          <ion-col size="4" class="item-list-semana">
            Semana {{orden.semana}}
          </ion-col>
        </ion-row>

        <!-- 
          <ion-row>
          <ion-col size="8">
            <p>Orden: {{orden.id}}</p>
          </ion-col>
          <ion-col size="4">
            <p>{{orden.calificador_id}}</p>
          </ion-col>
        </ion-row>
        -->
        

      </ion-grid>
      </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="presentModal()">
        <ion-icon name="funnel-outline" size="large" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
