.oi-border{
    border-radius: 5px;
}

.io-cont-button{
    position: absolute;
}
.io-color{
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 7%;
}
/*
.io-bg-blanco{
    background-color: #e4e1e1;
}
.io-bg-cafe{
    background-color: #6c3600;
}
.io-bg-plomo{
    background-color: #828282;
}
.io-bg-verde{
    background-color: #10dc60;
}
.io-bg-amarillo{
    background-color: #ffce00;
}
.io-bg-rojo{
    background-color: #f04141;
}
.io-bg-azul{
    background-color: #308bc0;
}
.io-bg-negro{
    background-color: #000;
}
.io-bg-violeta{
    background-color: #4c2882;
}
.io-bg-lila{
    background-color: #B695C0;
}
.bg-primary{
    background-color: #31A833; 
}
*/