<div >
  <div class="ion-text-titulo">
  <h1>Agregar Enfunde</h1>
</div>
<form [formGroup]="enfundeForm" (ngSubmit)="onSubmit()" style="border-radius: 50px; padding-bottom: 5%;padding-top: 5%;">
  <ion-list style="padding-top: 10%;padding-bottom: 10%;border-radius: 50px; margin-bottom: 10px;">
    <ion-item>
      <ion-label>Finca</ion-label>
      <ion-select formControlName="finca" interface="action-sheet" mode='ios' cancelText='Cancelar'>
        <ion-select-option *ngFor="let finca of listFincas" [value]='finca.id'>{{finca.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime 
      formControlName="fecha" 
      type="text" 
      displayFormat="DD-MM-YYYY" 
      [min]="minDate"  [max]="maxDate"
      cancelText='Cancelar' 
      doneText="Listo" 
      required
      (ionChange)="buscarEnfunde()"></ion-datetime>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item  >
            <ion-label position="floating">Año</ion-label>
            <ion-datetime class="oi-pb-1" displayFormat="YYYY" min="1930" max="2005" formControlName="ano" cancelText='Cancelar' doneText="Listo" disabled></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="oi-pb-1">
            <ion-label position="floating">Semana</ion-label>
            <ion-input type="text" name="semana" formControlName="semana" disabled></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" class="ion-no-padding">
          <ion-item>
            <ion-label>Cinta</ion-label>
            <ion-select formControlName="cinta" interface="action-sheet" mode='ios' cancelText='Cancelar' disabled>
              <ion-select-option value='cafe'>Cafe</ion-select-option>
              <ion-select-option value='plomo'>Plomo</ion-select-option>
              <ion-select-option value='verde'>Verde</ion-select-option>
              <ion-select-option value='amarillo'>Amarillo</ion-select-option>
              <ion-select-option value='rojo'>Rojo</ion-select-option>
              <ion-select-option value='azul'>Azul</ion-select-option>
              <ion-select-option value='negro'>Negro</ion-select-option>
              <ion-select-option value='violeta'>Violeta</ion-select-option>
              <ion-select-option value='blanco'>Blanco</ion-select-option>
              <ion-select-option value='lila'>Lila</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          
          <div class="io-color io-bg-{{enfundeForm.value.cinta}}">
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-radio-group formControlName="tipo">
      
      <ion-row>
        <ion-col size="12"  class="ion-padding" style="padding-bottom: 0px;">
          Tipo: 
        </ion-col>
      </ion-row>
        
          <ion-item lines='none' *ngFor="let item of listTipoEnfunde">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-radio slot="start"  value="{{item.id}}"></ion-radio>
          </ion-item>
      
    
    </ion-radio-group>


    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" name="cantidad" formControlName="cantida"></ion-input>
    </ion-item>

  </ion-list>

  
    <ion-button expand="full" shape="round" vertical="bottom" color="mgreent" type="submit" [disabled]="enfundeForm.invalid">
      Enviar
    </ion-button>

    <ion-button expand="full" shape="round" vertical="bottom" color="danger" (click)="salir()">
      salir
    </ion-button>


</form>
</div>

