<!-- <app-header titulo='Configuración'>

</app-header> -->

<ion-content>

    <div class="header oi-colorb-primary">
        <h1>Preferencias de Usuario</h1>
        <!-- 
            <ion-grid>
            <ion-row>
                <ion-col style="padding: 10px;">
                    <ion-badge color="light" mode="ios">102</ion-badge>
                    <p>Abonnements</p>
                </ion-col>
                <ion-col class="ion-text-end" style="padding: 10px;">
                    <ion-badge color="light" mode="ios">102</ion-badge>
                    <p>Abonnements</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        -->
        

    </div>

    <div class="flex">

        <div class="border-profile">
            <div class="img-box">
                <img src="./assets/img/perfil/perfil.png">
            </div>
        </div>

    </div>

    <div class="oi-ct-center">

       <div>
           <h1 class="oi-nospace-y">Multum App  <ion-icon  name="create" color="primary"></ion-icon></h1>
           
           <p class="oi-nospace-y">Finca: Luz Mila</p>
           <p class="oi-nospace-y">Provincia: Ell Oro</p>
       </div>      

    </div>
    <ion-list class="ion-padding">
        <ion-item>
            <ion-icon slot="start" name="unlock" class="oi-ico-avatar" color="primary"></ion-icon>
            <ion-label>
                <h2>Seguridad</h2>
                <h3>Cambio de Contraseña</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="notifications" class="oi-ico-avatar" color="primary"></ion-icon>
            <ion-label>
                <h2>Notificaciones</h2>
                <h3>Tonos de mensajes Grupos</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Toggle</ion-label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Radio</ion-label>
            <ion-radio slot="end"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-list>



</ion-content>