.header {
    height: 150px; //180px;
    padding-top: 1px;
}
.header h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}


.img-box {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.border-profile {
    border: 7px solid #ffffff;
    border-radius: 50%;
    background-color: #a5ad9c;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}




