  <ion-item>
    <ion-label>Línea de Factura</ion-label>
    <ion-select  interface="action-sheet" mode='ios' [(ngModel)]="prodNew.linea" cancelText='Cancelar'>
      <ion-select-option value="Ecua">Ecua</ion-select-option>
      <ion-select-option value="sopa">Sopa</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="prodNew.cantidad" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio:</ion-label>
    <ion-input type="number" [(ngModel)]="prodNew.precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-input type="number"  [(ngModel)]="prodNew.valor" [value]='prodNew.cantidad * prodNew.precio' disabled></ion-input>
  </ion-item>
  <ion-button expand='full' color="primary" (click)="guardar()" [disabled]="false">
    Facturar
  </ion-button>


<!-- 
  <form [formGroup]="newProductoForm" (ngSubmit)="guardar()">
  {{linea}}
  <ion-item>
    <ion-label>Línea de Factura</ion-label>
    <ion-select  interface="action-sheet" mode='ios' formControlName="lineaFactura" cancelText='Cancelar'>
      <ion-select-option value="Ecua">Ecua</ion-select-option>
      <ion-select-option value="sopa">Sopa</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-input type="number" formControlName="cantidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio:</ion-label>
    <ion-input type="number" formControlName="precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-input type="number" formControlName="valor" [value]='newProductoForm.value.cantidad * newProductoForm.value.precio' disabled></ion-input>
  </ion-item>
  <ion-button expand='full' color="primary" type="submit" [disabled]="newProductoForm.invalid">
    Facturar
  </ion-button>
</form>
-->

